[2018-03-08 16:13] Boris-Em opened #4 "Allow Capture when No Rectangle Detected"
Currently, we don't let the user proceed to the Edit screen from the Scanning screen if no rectangle has been detected.

Instead, we should allow users to proceed to the Edit screen, and just pick an arbitrary rectangle that the user can adjust.

[2018-03-08 16:24] Boris-Em opened #5 "Implement Rotation Buttons on Edit Screen"
Right now, users can't rotate the picture after it has been taken. Users should have the possibility to rotate the picture on the Edit Screen.

[2018-03-08 16:24] Boris-Em opened #6 "Add Support for Tap to Focus"

[2018-03-08 16:25] Boris-Em opened #7 "Add Zoom when Editing Corners"
The iOS Notes app does that very well, and could be a source of inspiration.

[2018-03-08 16:26] Boris-Em opened #8 "Support 2x Camera"

[2018-03-12 13:31] Boris-Em opened #9 "Add Highlighted State to Shutter button"

[2018-03-13 09:08] Boris-Em opened #10 "Improve Editable Rectangle"
Right now dragging corners is allowed everywhere within the image bounds.
This should be improved by not allowing to drag corners on top of each other, as well as not allowing creating shapes that are not quadrilaterals.
This should be implemented in `validPoint()` of `QuadrilateralView`.

[2018-03-15 16:14] Boris-Em opened #11 "Allow Multiple Scans in One Session (Batch Scanning)"
It should be possible to scan multiple documents without having to go through the whole flow.

[2018-03-21 10:55] #4 closed, assigned to nobody

[2018-03-21 10:56] #9 closed, assigned to nobody

[2018-04-04 09:27] samuelbeek opened #20 "Save as PDF by Default"
## What is the problem
I think we should save the documents as PDF by default, because:
* All other scan apps do this (Dropbox, Scanbot).
* Hardware Scanners do it.
* People are most likely to "scan" documents.
  * PDF is the standard for scanned documents - there's no clear data on this, but if you read [this](http://www.soliddocuments.com/pdf/_standards_format/253/11) and take into consideration

[2018-05-31 09:58] ahegazi18 opened #21 "Edit screen to be optional."
is it possible that will be a mode that you can go from the scan screen to preview screen directly or maybe get the full result in the scan screen and passed to the delegates?

this way the SDK could fit everyone needs

[2018-06-02 21:42] Boris-Em commented on #21
Thtat's a good suggestion, thank you @ahegazi18!
Related to #11.

[2018-06-07 15:21] jcampbell05 opened #22 "OpenCV for document edge detection"
Thank you for starting this, we were going to open source our own thing at printtapp.com but now we saw you are doing the same we would love to team up with you and build a comprehensive scanning solution. Let me know if you are free for a call or chat.

The current implementation of the rectangle detection is fooled by folded pieces of paper, I would recommend moving to OpenCV edge detection whic

[2018-06-07 15:22] jcampbell05 opened #23 "Android Support"
Whilst this is originally an iOS project, we would also like to help port it to Android. Let us know if the best way forward would be for WeTransfer to clone it to Android or perhaps add an android folder.

[2018-06-10 09:47] Boris-Em commented on #23
@BartNijland91, and @Alexs784 are our Android developers. I'm not sure exactly what their plan is as far as document scanning goes.

[2018-06-10 10:52] Boris-Em commented on #22
Hi there @jcampbell05!
Thanks for opening this issue. I'm open to chat! Just shoot me an email (it's on my GitHub profile).

I considered using OpenCV when I started working on **WeScan**. The main reason why I decided not to use it, was the increase in binary size.
Another reason was that our philosophy encourages us to use first party dependencies (Apple) over third party dependencies when possi

[2018-06-11 10:43] jcampbell05 commented on #22
Cool I'll email you.

Cool that makes sense, potentially we can look if we can reimplement the OpenCV algorithms using apple technology (for example using Metal)

So if you have a piece of paper that has been folded up for example in thirds, the current logic will scan one of the thirds.

[2018-06-11 14:30] AvdLee opened #26 "Fix CI by updating our CI branch"
CI is not working now, probably because the WeTransfer-iOS-CI submodule is not up to date.

[2018-06-12 01:58] mital87 opened #27 "Auto Capture & Enhanced Scanned Image & Batch Scanning"
**- Auto Capture:** Detect the document & capture it without pressing camera shutter button.

**- Batch Scanning:** multiple document scan at a time.

**- Enhanced Scanned Image:** Apply image processing to get the clear scanned image like Scannable App, CamScanner App etc...

**- CameraRoll:** Pick the image from camera roll & detect the document.

Please add this feature in your library ASAP.

*

[2018-06-13 14:03] jcampbell05 commented on #22
I've discovered https://hochgatterer.me/blog/invoice-scanning/ use the new Vision framework, unfortunately, limits the support of this tool to iOS 11.3 but hopefully may be more reliable and almost 88% of devices are on a version of iOS 11 according to Mixpanel trends.

If this is an issue we can work on implementing the algorithms manually in Metal or using custom Core Image Kernels but I think t

[2018-06-13 14:33] Boris-Em commented on #22
We could also fall back to the current `CIRectangleFeature` implementation for iOS 10 users.

[2018-06-26 10:21] justJS commented on #22
I'm working on an app that uses WeScan, but the rectangle detection is quite shaky. Just wondering, what are the current plans since the last update to this issue? Any ETA on using Vision/getting the Notes scanner open source? Thanks!

[2018-06-26 14:30] jcampbell05 commented on #22
We're currently busy with other priorities but we are interested in adding vision based scanning by the end of this year. We, unfortunately, couldn't make any progress on the open sourcing.

Our company may be willing to sponsor a developer to take on improving the scanning process (Not sure about WeTransfer's position).

[2018-06-26 23:30] justJS commented on #22
I've been hard at work on implementing Vision scanning into WeScan for my app, so since it doesn't seem like you'll be implementing it (soon) i'll try submit a PR if I can get it working (a few bugs left). Stay tuned, i'll give updates.

[2018-06-27 11:21] jcampbell05 commented on #22
Okay, if there is any way we can be of assistance let us know. We would be happy to provide a test suite of camera images to verify the Vision based scanning :)

[2018-06-27 11:31] Boris-Em commented on #7
Closed as implemented by https://github.com/WeTransfer/WeScan/pull/25.

[2018-06-27 11:31] #7 closed

[2018-06-27 11:33] Boris-Em opened #31 "Auto-Capture"
Detect the document & capture it without pressing camera shutter button.

[2018-06-27 11:34] Boris-Em opened #32 "CameraRoll Support (Gallery)"
Make it possible to select a picture from the Camera Roll.

[2018-06-27 13:38] justJS commented on #22
Sure! It's currently coming along well and I'm implementing some extra features like making it work better on iOS 10 too 👍

Note: i'll be in SF from tomorrow for 10 days without my laptop, so i'll try get the PR in before then but otherwise it might take a while.

[2018-06-27 14:45] Boris-Em commented on #27
Thanks for the feedback @mital87!
I created separate issues for your requested features:
- Auto Capture: #31
- Batch Scanning: #11
- Camera Roll: #32

[2018-06-27 14:45] #27 closed

[2018-06-27 15:44] jcampbell05 commented on #22
Nice one 👍 No worries, maybe place your fork online to make sure any work isn't lost for whatever reason.

Do you just know iOS btw? :)

[2018-06-27 16:23] Alexs784 commented on #23
Hi @jcampbell05,
while we are for sure interested in doing something similar on Android too, we have nothing scheduled anytime soon. Anyway we believe that creating an Android folder into the WeScan repo would be the best option.

[2018-06-27 19:17] jcampbell05 commented on #23
@Alexs784 Okay good to know :) when we are ready to start doing this, we will create a branch where we prepare project structure :)

[2018-06-28 01:17] justJS commented on #22
I know quite a lot of frontend web dev (JS, HTML, CSS), but only started learning Swift 3-4 months ago, and no, I don't know Android. Yeah i'll put my fork online soon, but it's kinda broken right now.

[2018-07-06 06:50] longjianjiang opened #33 "`captureOutput(_:didOutput:from:)` not be called."
When i run this demo project at ipad mini2 (11.4), it didn't call `AVCaptureVideoDataOutputSampleBufferDelegate` delegate method, so the screen is black, not capture any content.

And, i write the same function, it also have same problem when run on ipad mini2(11.4), here is my set `CaptureSession` code snippet.

[code]

I am so confused about this problem, want to get some help from your guys, th

[2018-07-10 12:08] longjianjiang commented on #33
Today i use another iPad Mini2, this project and my project work normally; So i think it is a problem with that device.

[2018-07-15 07:52] faisyleo opened #36 "Cocoa Pod Issue"
When Install "we Scan" through Cocoapod then following error will become :
[!] CocoaPods could not find compatible versions for pod "WeScan":
  In Podfile:
    WeScan (~> 1.0.0)

None of your spec sources contain a spec satisfying the dependency: `WeScan (~> 1.0.0)`.

You have either:
 * out-of-date source repos which you can update with `pod repo update` or with `pod install --repo-update`.
 * mi

[2018-07-16 07:29] Boris-Em commented on #33
Thanks for the update @longjianjiang! Closing as unable to reproduce.

[2018-07-16 07:29] #33 closed

[2018-07-16 07:31] Boris-Em commented on #36
**WeScan** is currently in v0.9. Can you try updating your Podfile with `WeScan (>=0.9)` please?
If that fixes the problem, we need to update the README.

[2018-07-16 12:03] faisyleo commented on #36
I try this but Problem is still exist. What we do know @Boris-Em ?

[2018-07-16 20:14] Boris-Em commented on #36
Thanks for reporting back @faisyleo!

[2018-07-16 20:14] #36 closed

[2018-07-25 12:36] MincDev commented on #23
Please create a similar project on android!! It is really needed.

[2018-07-26 05:06] avinashramireddy-rapidd opened #37 "Feature: Collection view(preview) holding scanned image, camera settings"
This is really very nice plugin.

I would like to have more features which I think are already mentioned in github issues section.

But few I am currently missing are
1.Holding scanned images in collection view and way to edit(retake) particular one on selection from
   collection view.
2.Option to have settings like flash light, front/rear camera etc.
3.Rotate(90,180,270,360degrees) captured imag

[2018-07-26 07:21] Boris-Em opened #38 "Add Flash Support"
Having the option to use the flash of the device would be a great improvement when in low light.

[2018-07-26 07:24] Boris-Em opened #39 "Rotation Support on Edit Screen"
Having the option to rotate the image on the Edit screen, would solve a few edge cases where the orientation of the image isn't correct.

[2018-07-26 10:35] avinashramireddy-rapidd opened #40 "Q: I am unable to refer WeScan Project"
Hi,
I am trying to download project manually and make some changes.

Manually
Just download the project, and drag and drop the "WeScan" folder in your project.

I downloaded and added to my project
Steps:
1.Add fiels to "MyProjectnamehere"
2. Selected dowloaded WeScan folder
With Options: a. copy items if needed(unchecked)
                        b. create groups(selected)
3 Now i would like to ad

[2018-07-26 10:36] avinashramireddy-rapidd commented on #37
Also able to pick from gallery

[2018-07-26 12:47] Boris-Em commented on #37
This is already covered by #32.

[2018-07-26 12:49] Boris-Em commented on #40
Maybe this would help you? https://github.com/ITHHKN/WeScan/blob/c9a2c9f1dd3aba5d001330eab993ccba478c7d56/README.md

[2018-07-27 04:52] avinashramireddy-rapidd commented on #40
**_Just download the project, and drag and drop the "WeScan" folder in your project._**

This **"WeScan" _folder_** misleading as there is folder with WeScan and I just dropped that folder. It should have been WeScan.xcodeproj

That solved my issue after going through screenshots attached in readme.md

[2018-07-27 05:48] #40 closed

[2018-07-27 06:21] justJS commented on #22
I've been on vacation for the past month, but I'm now continuing my development. Stay tuned :)

[2018-07-27 06:22] justJS commented on #22
I've been on vacation for the past month, but I'm now continuing my development. Stay tuned :)

[2018-07-27 07:52] justJS commented on #39
Thoughts on rotating it to "up" (portrait) based on how the picture was taken? Basically, using the accelerometer to rotate the image automatically.

[2018-07-27 12:08] jcampbell05 commented on #22
Great work! We're installing on our devices as we speak and will be testing. I'll leave feedback on the PR itself :)

[2018-07-27 12:09] justJS commented on #22
👍 (Please note there's a bug where the rotated image isn't actually sent in the completion, but it doesn't happen on the sample project. Fix coming soon)

[2018-07-28 05:54] justJS commented on #23
I'm not an Android developer, but this may be useful if I decide to add an Android version of my app one day. However, i'd like to note that WeScan (iOS) currently uses Apple-only frameworks like CoreImage, Vision, and UIKit, as well as is written completely in Swift, so porting it to Android would be a lot of work (and would result in a different scanner completely).

[2018-07-28 11:02] justJS commented on #39
This was already filed as #5, maybe one of the issues should be closed?

[2018-07-28 11:02] justJS commented on #5
This was already filed as #39, maybe one of the issues should be closed?

[2018-07-30 15:58] jcampbell05 commented on #31
I think this has been partially added in #41

[2018-07-30 15:59] jcampbell05 commented on #39
Is there an example of when this would be useful to the user ?

[2018-07-30 15:59] jcampbell05 commented on #20
I second this, whats best way of doing this ?

[2018-07-30 16:01] jcampbell05 commented on #23
On furhter research we could maybe use MLKit ? https://developers.google.com/ml-kit/ - @Boris-Em could we setup a WeScan Android project to discuss this ?

[2018-07-30 16:04] jcampbell05 commented on #22
I'm going to close this issue :) as I think @Boris-Em answered the original issue and we've since moved on from Open CV to the vision framework.

I'll carry on any discussion in @justJS 's PR :)

[2018-07-30 16:04] #22 closed

[2018-07-30 16:04] jcampbell05 commented on #8
@Boris-Em could you add more details ?

[2018-07-30 16:05] jcampbell05 commented on #5
I think this is the better of the two issues.

[2018-07-30 16:06] jcampbell05 commented on #6
Would auto focus not be enougth?

[2018-07-30 16:06] jcampbell05 commented on #38
Maybe as part of this we bring UI closer to that of the one Apple uses in Notes ?

[2018-07-30 17:01] Boris-Em commented on #6
Auto-focus is enough for most cases, but it some rare scenarios, it doesn't focus on the right thing. That's why having the option to override the auto-focus with a tap may be useful.

[2018-07-30 17:04] Boris-Em commented on #8
I think that this is referring to the dual cameras that some iOS devices have (Plus models and X).

[2018-07-30 17:07] Boris-Em commented on #23
Good idea, @jcampbell05. Here is the repo: https://github.com/WeTransfer/WeScanAndroid

[2018-07-30 17:11] Boris-Em commented on #20
[PDFKit](https://developer.apple.com/documentation/pdfkit) makes this pretty easy, but it's only supported on iOS 11+.
Maybe we could drop support of iOS 10 for this specific feature @samuelbeek, @jcampbell05?

[2018-07-31 06:27] justJS commented on #38
This and the new UI is in #41.

[2018-07-31 06:28] justJS commented on #20
I think this feature should be opt in by the creators of the app who use the framework - for example, my usage for WeScan would not use PDFs.

[2018-07-31 06:54] samuelbeek commented on #20
@Boris-Em I agree that we could make it an iOS 11 only feature.

[2018-07-31 07:38] AvdLee opened #46 "Fix Travis CI"
CI is currently failing with the following error:

[code]

[2018-07-31 07:39] Boris-Em commented on #20
Good point @justJS!

[2018-07-31 07:44] Boris-Em commented on #23
Closing this issue as further discussion will now take place on the Android repo.

[2018-07-31 07:44] #23 closed

[2018-07-31 08:46] jcampbell05 commented on #20
Some companies will be dropping iOS 10 support soon so I think there is little value trying to port PDF to iOS 10. So I'm happy for it to be just iOS 11.

[2018-07-31 08:48] jcampbell05 commented on #11
Was any progress made on this in the end ? :)

[2018-07-31 08:48] justJS commented on #20
I also agree it's ok for PDF support to be iOS 11 only, but I really want WeScan to keep iOS 10 support for now. While it's only a small percent, it's still more users.

[2018-07-31 08:50] justJS commented on #11
#41 adds auto scan, which may help. Also, like the PDF support, I think this should be a host app setting.
I'd be happy to work on a way for the host app to pass in settings (perhaps using the new CaptureSession singleton) after we get #41 merged.

[2018-07-31 08:51] jcampbell05 commented on #20
@justJS I'm just meaning to keep PDF iOS11 only and not the framework :) WeScan should support iOS 10 at least for little while longer

[2018-07-31 08:56] justJS commented on #20
Yeah, just making sure we're clear :smile:

[2018-07-31 09:13] Boris-Em commented on #11
@jcampbell05 I'm pretty much done with this already. I'm waiting for @justJS' pull request to be merged in, because I'll need to update a bunch of stuff at that point.

[2018-07-31 11:13] jcampbell05 commented on #11
Cool cool, I'll get a move on with those tests :)

[2018-08-01 03:52] justJS commented on #20
Thoughts on [PSPDFKit](https://pspdfkit.com)?

Some of it's benefits over Apple's PDFKit: https://pspdfkit.com/guides/ios/current/migration-guides/migrating-from-apple-pdfkit/

[2018-08-01 08:27] Boris-Em opened #47 "Make Scanning View Available"
By making the scanning UIView public, we would give users the opportunity to implement their own flow if they don't want to use the one provided by WeScan.

[2018-08-01 08:28] justJS commented on #47
Wouldn't there be no point in using WeScan then? I'm sorry if I misunderstood what you meant.

[2018-08-01 08:30] Boris-Em commented on #47
They'd still get all of the rectangle detection from the camera. They would just be able to customize what they want to do after having detected a rectangle.

[2018-08-01 08:31] justJS commented on #47
As, so the post scanning UI? As in they could use the scanned rect + image without the rest of WeScan's editing UI?

[2018-08-01 08:37] Boris-Em commented on #47
Exactly @justJS!

[2018-08-01 08:38] justJS commented on #21
Related to #47

[2018-08-01 08:39] justJS commented on #32
This would require quite a lot of changes based on how the code is currently written.

[2018-08-01 08:39] justJS commented on #47
👍 I think this would make sense as part of an enhancement for more host app provided settings as I commented recently.

[2018-08-01 10:48] jcampbell05 commented on #20
That costs but I recalled that iOS always had lower level PDF graphics as Quartz was based on PDF.
So we have the CGPDFContextCreate methods (Since iOS 2.0) we can use to easily write a basic PDF with the images into a file.

This should be okay as I think PDFKit was mainly introduced to handle other features beyond the rendering which the Quartz APIs didn't handle (annotations etc).

https://deve

[2018-08-01 11:09] justJS commented on #20
👍 What does everyone think about how it should be implemented? I'm thinking, as I said, a host app setting, but any other ideas? Perhaps we could provide both the PDF and typical image back to the host app?

[2018-08-01 11:39] OkiRules opened #48 "Bug when trying to run on Xcode 10, Swift 4.2"
When trying to run I get this error:

[code]

[2018-08-01 11:45] justJS commented on #48
When you brought in the WeScan folder you kept it's Info.plist - delete WeScan's info.plist otherwise Xcode will get confused about having 2.

[2018-08-01 11:57] Boris-Em commented on #20
Agreed. We could add a new `scannedPDF` property to `ImageScannerResults`. This way users get both a `UIImage` and a PDF back. Let's just make sure first that creating the pdf is very fast.

[2018-08-01 12:10] justJS commented on #20
👍 Since there's changes to the ImageScannerResults (the auto rotation) in #41, I can start working on this after that's merged (should be soon).

[2018-08-01 12:14] justJS opened #49 "Use GPUImage to enhance scanned documents"
I think we could use GPUImage(2)'s AdaptiveThresholding to enhance the scanned image (It would be optional).

Example:
![Example of Adaptive Thresholding](http://snag.gy/KowsQ.jpg)

[2018-08-01 12:15] justJS commented on #48
@Boris-Em I don't think this should be filed as a bug - it's an issue caused by Xcode getting confused when WeScan's folder is imported rather than using a framework manager.

[2018-08-01 13:42] Boris-Em commented on #48
@OkiRules Could you confirm that @justJS' suggestion fixes your problem?

[2018-08-01 13:44] Boris-Em commented on #49
I think that we want to limit the use of third party libraries. Could we look into implementing this feature using Apple's APIs?

[2018-08-01 22:11] OkiRules commented on #48
Yes it did. But I imported this by Cocoapods so this shouldn’t be a problem.

Anyway thanks for your help.

[2018-08-02 00:55] justJS commented on #49
I believe it requires OpenCV or other frameworks, but i'll look into it.

[2018-08-02 05:02] justJS commented on #49
Update on this after I made a test implementation:
1. Adaptive thresholding requires OpenCV or GPUImage from what I can tell.
2. Adaptive thresholding can sometimes make the image worse, and should be optional
3. Adaptive thresholding might make sense as a hidden property passed to the host app, as it probably results in better OCR.

[2018-08-02 06:17] AvdLee opened #50 "Add a contribution doc"
We should add a contribution doc, for which we can reuse the one from UINotifications.

[2018-08-02 07:24] Boris-Em commented on #48
Closing as fixed. Thanks @justJS!

[2018-08-02 07:24] #48 closed

[2018-08-09 14:26] millertfin opened #51 "Localiztion / internationalization"
HI,

Is there a way to alter or override the texts displayed by the ImageScannerController, according to the device language?

Regards
Tobias

[2018-08-13 09:02] AvdLee commented on #51
@Boris-Em can you elaborate on this?

[2018-08-17 11:15] marinofaggiana commented on #20
Hi @justJS I have try your project and is very good, but without save in PDF as document (b/n) is not very palatable ... do you have  start this improvement ?

[2018-08-17 11:16] justJS commented on #20
Hi, are you talking about my app, Cards? If so, please send feature requests via Twitter or email, this repo is not for my app. Thanks!

[2018-08-17 11:18] marinofaggiana commented on #20
ops sorry, error @

[2018-08-20 09:15] Dhaval11296 commented on #23
Hello  where is the Android Code link?

[2018-08-20 10:28] Boris-Em commented on #23
Hi @Dhaval11296!
The repo is here: https://github.com/WeTransfer/WeScanAndroid
But as far as I know, no work has been done yet.

[2018-08-20 10:46] Dhaval11296 commented on #23
When it will done?,
Any timeline date? For Android.

On Mon 20 Aug, 2018, 3:58 PM Boris Emorine, <notifications@github.com>
wrote:

[2018-08-21 08:41] oferRounds commented on #49
@Boris-Em GPUImage is a great high-quality library, which is well tested. In my opinion we shouldn’t be too picky in using third-parties like these ones

[2018-08-30 08:54] archercod opened #57 "NavigationItems color"
Is this possible to change navigationItems tint color from black?

[2018-08-30 12:44] Boris-Em commented on #57
`ImageScannerController` is a subclass of `UINavigationController`. You should be able to change the colors of the navigation items just like you would for a navigation controller.
Let me know if it doesn't work!

[2018-08-30 12:44] #57 closed

[2018-09-17 07:47] AvdLee opened #61 "Rethink the zooming corner"
## What can we improve?
We might want to show the zoomed circle in an offset of the touch point, so it's visible in all scenarios. This does mean we step away from the Apple way of doing this, but the question is either way whether users are used to this Apple behaviour and whether we should just do the best for our users instead.

[2018-09-17 07:48] AvdLee opened #62 "Rethink through the zoomed circle for squared corners"
## What can we improve?
We might want to show the zoomed circle in an offset of the touch point, so it's visible in all scenarios. This does mean we step away from the Apple way of doing this, but the question is either way whether users are used to this Apple behaviour and whether we should just do the best for our users instead.

[2018-09-17 07:50] justJS commented on #62
I vote that we should detect the touch - if it's within a certain boundary of the actual corner, show the circle at an offset, otherwise, use the Apple behavior.

[2018-09-22 06:59] CavalcanteLeo commented on #61
I’d preffer apple way

[2018-09-24 08:35] Boris-Em commented on #61
@CavalcanteLeo - Apple's way is currently implemented. Just like in Notes, right now, you can drag anywhere on the screen, and it will grab the closest corner. You don't have to tap on the corner.
The proposition is to move away from Apple's way.

[2018-09-24 18:31] CavalcanteLeo opened #63 "Objective-c"
Is it compatible with objective-c?

[2018-09-24 18:41] CavalcanteLeo commented on #61
Misunderstood, I thought i were talking about the zoom position that is under my finger.

That's the way i prefer:
![whatsapp image 2018-09-24 at 15 37 53](https://user-images.githubusercontent.com/1735944/45971710-1c344f00-c010-11e8-8ccd-11e4f8f373bb.jpeg)
![whatsapp image 2018-09-24 at 15 37 52](https://user-images.githubusercontent.com/1735944/45971711-1c344f00-c010-11e8-9f9c-4e46bb916d6e.jpeg)

[2018-09-25 07:58] Boris-Em commented on #61
@CavalcanteLeo - This is not the feature in Notes we're talking about. Give the document scanning feature in Notes a try, and you'll see that the behavior is exactly the same.
And as I said, you shouldn't drag on the corner, but next to it :)

[2018-09-25 20:01] Albarahakami commented on #63
I am also having issues integrating it with objective-c. It seems like it needs to be updated to Swift 4.2 in order for it to work properly.

Used pods + manual installation and both generated different issues.

[2018-09-26 07:16] AvdLee commented on #61
I still wonder whether that note scanning behaviour is what users expect. It's not natural to tap next to the point you want to move, is it?

Are we able to A/B test or research this?

[2018-09-26 07:55] Boris-Em commented on #63
Thanks for the feedback @Albarahakami.
Feel free to contribute to the project to add Objective-C support!

[2018-09-26 08:52] nickseidel commented on #61
Or how about just making it optional?
For example:

let scannerVC = ImageScannerController()
scannerVC.allowOutsideCornerTap = false
scannerVC.cornerZoomOffsetEnabled = true

[2018-10-01 08:41] justJS commented on #61
How about some helper text at the bottom like Notes has?
![image-1-1](https://user-images.githubusercontent.com/19729335/46278495-de4ba380-c598-11e8-9f39-09387f28ac10.jpg)

[2018-10-01 08:45] justJS commented on #62
Should we close this in favor of #61?

[2018-10-01 13:05] Boris-Em commented on #62
Good call @justJS. Closing as duplicate of #61.

[2018-10-01 13:05] #62 closed

[2018-10-09 10:07] justJS opened #67 "Localizations aren't working when WeScan is used as a pod"
I'm trying to make a PR to add Portuguese and Italian localizations to WeScan, but I'm not able to get WeScan working with localizations when it's a pod in another project, as pods are compiled without bundles, so the localizations aren't being found by NSLocalizedString.

I think there's 2 options we could use to solve this issue:
- Ask the host app to provide localizations (I don't think this is

[2018-10-15 08:05] florentmorin commented on #67
In PR #64 , I was able to make it working by changing `WeScan.podspec`.

Especially in this commit 58a1b720e9486fe784b114b13a4a303e300593ac :
- replacing `spec.source_files` by a specific version
- adding localizations in `spec.resources`

[2018-10-15 08:06] justJS commented on #67
Can someone else help to verify that this is indeed fixed in #64? If so, i'd be in favor of closing this issue and merging #64.

[2018-10-17 15:31] jcampbell05 commented on #49
In theory this could be done in Metal :)

[2018-10-20 19:12] yangricardo opened #69 "Cannot install as a POD"
Even with de pod install, there are a error on `import WeScan`

[2018-10-22 10:30] tathag commented on #63
can any one tell how to integrate this library with objective c project ?

[2018-10-22 16:20] saormart opened #70 "Just a comment for future enhancement!"
First of all, great framework!
I just would like to suggest some things that could be great for your nice frame-work and kick ass other similar!
So would be great to add:

topCenter
bottomCenter
leftCenter
rightCenter
(Like the image)
With this, the user could adjust the manual crop quickly if he wants to move the lines top down left right!

Another nice feature would be add option to filter the c

[2018-10-22 16:33] saormart commented on #49
@justJS, any update on this ? This will be added to the framework / and also in the example?
Thanks!

[2018-10-22 17:07] saormart commented on #61
I think that @AvdLee  is talking about something like this (picture) right ?
![img_0019](https://user-images.githubusercontent.com/8941296/47306774-571fa780-d5fb-11e8-99cd-1c60006d5a57.jpg)

[2018-10-22 17:42] saormart commented on #69
Did you check your local "Pods" folder ?
Did you try build it before use the "import WeScan" ?

[2018-10-22 21:22] oferRounds commented on #49
@jcampbell05 [GPUImage 3](https://github.com/BradLarson/GPUImage3) already uses Metal

[2018-10-23 01:46] yangricardo commented on #69
yes, the WeScan pod has a lot of errors on build process in new projects with Swift 4.2, even on drag and drog de WeScan folder into my project... only using it by editing the sample project in this repository....

[2018-10-23 07:14] AvdLee commented on #61
@saormart you're totally right here. It's not about explaining like @justJS is suggesting. I think it's clear for users that they _can_ drag the corners around. The issue is that once you start dragging, it's possible that the user starts dragging by touching the corner directly, which makes it impossible with the current implementation to see the zoomed circle as it's underneath the finger.

@sao

[2018-10-23 07:17] justJS commented on #61
I think the we can probably guess quite easily whether the user is tapping on or near the corner, and choose based on that?

I think that would be a great solution for everyone.

Sent from my iPhone

[2018-10-23 09:38] Boris-Em commented on #70
Thanks for your nice words @saormart! Could you open 2 different issues for each enhancement you propose?

[2018-10-23 09:38] #70 closed

[2018-10-23 13:29] saormart opened #71 "Enhancement to adjust the manual crop"
As per request [based on this topic](https://github.com/WeTransfer/WeScan/issues/70#event-1919905172)

So would be great to add:

topCenter
bottomCenter
leftCenter
rightCenter
(Like the image)
With this, the user could adjust the manual crop quickly if he wants to move the lines top down left right!

![img_0271](https://user-images.githubusercontent.com/8941296/47363862-d7024c00-d6a5-11e8-8bba-0c2

[2018-10-23 13:32] justJS commented on #71
Hey, could you make it clearer what this would do? I don't understand why center points would help as we're scanning documents/rectangles?

[2018-10-23 13:56] saormart opened #72 "Filter the cropped image as black and white or even better based on user selection!"
As per request [based on this topic](https://github.com/WeTransfer/WeScan/issues/70#event-1919905172)

Would be a nice feature to add option to filter the cropped image as black and white (Use GPUImage to enhance scanned documents) or something similar !
What I really mean, would be nice to have different options for the user to adjust images manually like the  brightness, contrast let's say "Deta

[2018-10-23 13:56] saormart commented on #71
Consider done !
Thanks !

[2018-10-23 14:04] justJS commented on #72
I think this is a great idea! However, a few things:

1. I feel having tons of options and sliders would over complicate what is currently a nice, focused scanner
2. This is (kinda) a duplicate of #49, especially if we only enhance the image rather than add custom adjustment

[2018-10-23 14:04] saormart commented on #71
The center point could help user to adjust both corners let's say at the same time!
Let's say you want to move both corners (top right and bottom right) and the same time to make some adjustment, and would be great if while the user is moving it to adjust, it kind try to predict the paper / document border and kind of "adjust" to the borders or something like that!

[2018-10-23 14:08] justJS commented on #71
Sounds like a great idea to snap to edges! I’m not sure how easy that would be, however. What about just snap to edges on all corners rather than center points?

Sent from my iPhone

[2018-10-23 14:09] saormart commented on #72
At this point I agree with you ! The scanner is awesome! Maybe all this features could be another framework, or may just another separated class to do this kind of job!
I'm trying to figure out a way to do it just like the [#49](https://github.com/WeTransfer/WeScan/issues/49)
But anyway, if anybody could contribute with it, and it could be added to the example code would be handy!

[2018-10-23 14:14] justJS commented on #72
I had an example working with GPUImage, I’m waiting for #41 which is almost merged then I’ll send in a PR 😃

[2018-10-23 14:19] saormart commented on #72
That's a great news ! Let me know when this happen, and I want to test it for sure ! :)

[2018-10-23 14:19] justJS commented on #71
I’m aware of CamScanner  😃
As for the user experience, my implementation was completely seamless - you just tap a bar button and it applies the GPUImage adaptive thresholding.

Sent from my iPhone

[2018-10-26 10:36] takhil commented on #63
I am also faced issue integrating with both objective-c and swift. I don't why it happens.
issue :
ld: symbol(s) not found for architecture arm64
clang: error: linker command failed with exit code 1 (use -v to see invocation)

Can anyone me to resolve this?

[2018-10-26 15:49] #46 closed

[2018-10-27 16:41] basememara commented on #69
Experiencing same issues with Swift 4.2.

[2018-10-28 04:56] basememara commented on #69
Figured out you have to use Xcode 10's legacy build system under `File > Workspace/Project Settings...` and works fine. So this is an issue with Xcode 10+ and sounds like there's a radar on it: https://github.com/CocoaPods/CocoaPods/issues/8073

[2018-11-03 23:01] LambdaDigamma opened #76 "Implement Camera Rotation when User rotates Device (iPad)"
When using the WeScan Framework on an iPad, the Camera View is not being rotated when the User rotates the Device. (eg. from Portrait to Landscape Mode)

[2018-11-05 21:29] yangricardo commented on #69
Thanks for the help!
But i think the pod version still needs to be updated, i have to parse some lines of code to run the same version of this repository.

[2018-11-08 16:58] saormart commented on #72
By the way, I figure out how to do it with opencv2, but if with GPUImage could get better results, I'll move to it ! I'll close this topic due [#49](https://github.com/WeTransfer/WeScan/issues/49)

[2018-11-08 16:58] #72 closed

[2018-11-08 17:12] saormart commented on #49
Well I was able to make it by using Adaptive thresholding with OpenCV2. (that works for me so far)

[2018-11-12 12:29] jcampbell05 opened #77 "Swift 4.2 support for iOS 12 SDK"
Some of the methods in UIKit have been renamed again (Please apple can this be the last time!)

We just need to refactor some of the methods to use the correct form of methods such as `bringSubviewToFront`.

[2018-11-12 12:33] jcampbell05 commented on #77
Seems like it's my mistake. Our project may be in a Swift 3 compatibility mode and Xcode doesn't explain the change is referring to Swift 2 -> 3 migration

[2018-11-12 12:35] justJS commented on #77
🤔 I'm not sure if this is still an issue, but #41 and the PR before it should have updated the method names already.

[2018-11-12 12:41] jcampbell05 commented on #77
I'm investigating something in my Xcode is very confused :) I'll track this down, I suspect it's an issue on my side and not this project.

[2018-11-12 12:41] #77 closed

[2018-11-12 13:31] justJS commented on #39
Now that #41 is in I am heavily in favor of implementing this. While auto rotate works very well in many cases a few people/users have been frustrated when it doesn't work for them.

[2018-11-13 10:50] jcampbell05 commented on #49
Perhaps it may just be enougth for WeScan to have hooks for users to extend for their own need. i.e allow user's to run their own preprocessing code for the image generation via a delegate callback. WeScan keeps 3rd party dependencies out of it's code but users can utilize GPU Image as needed to enhance what is shown in the cropping screen.

Could open door for other things like extending the scan

[2018-11-13 10:51] jcampbell05 commented on #11
Now that #41 is in we can resume this :)

[2018-11-13 10:52] justJS commented on #49
🤔 While I do somewhat agree with that, I feel like getting the thresholding/enhancing right is something that most developers don't have time for, but would still be useful to most, if not all, people who implement WeScan.

Any other thoughts on this? For now I'm working on the PR as it's not too hard, we can discuss further later on if needed.

[2018-11-13 10:52] Boris-Em commented on #49
Thanks for picking this up @justJS.
I don't think that using `GPUImage` is a good solution here.
One of our values is to keep WeScan as small of a dependency as possible. `GPUImage` is a huge library that does way more than what we need, even for this feature.

@jcampbell05, this is a better solution, but it would probably add quite a bit of complexity to the project both for us and our users. If

[2018-11-13 10:54] Boris-Em commented on #11
I'll open a PR for that soon!

[2018-11-13 10:55] jcampbell05 commented on #47
@Boris-Em we are going to be adding this project into our app. so I will be happy to guide you with this if and when we need this :)

[2018-11-13 10:56] justJS commented on #11
Do we have any agreement on the host app setting for this yet? While I do think this would be a great idea, the app I'm currently working on (and I'm sure others too) would require a lot of work to support multiple scans, so I'd prefer it to not be forced on for now.

[2018-11-13 10:56] jcampbell05 commented on #49
Good point.

Do we have a list of what they do ? is it just a basic curve adjustment (like you would do in photoshop) ?

[2018-11-13 11:02] Boris-Em commented on #49
Maybe this is a good start: https://homepages.inf.ed.ac.uk/rbf/HIPR2/adpthrsh.htm

Also: https://stackoverflow.com/questions/36184255/adaptive-threshold-cikernel-cifilter-ios
https://stackoverflow.com/questions/36287861/how-to-use-coreimage-to-create-a-smooth-threshold-filter

[2018-11-13 11:03] justJS commented on #49
Fair enough @Boris-Em. I've basically finished the GPUImage2 version as a quick proof of concept (it's on justJS:WeScan develop branch), so at least we can see what it looks like for now.

I'll see what I can do on the other implementations.

[2018-11-13 11:06] jcampbell05 commented on #11
@justJS I think a simple true/false flag would probably be enough like a lot of the UIKit APIs have for multiple.

[2018-11-13 11:08] justJS commented on #11
Yeah I'd be fine with that, but as WeScan don't currently have a preferences system in use, I think it should be implemented well so it doesn't come back to bite us in the future.

[2018-11-13 11:15] justJS commented on #49
If anyone wants to play around with it as a demo, I've got adaptive thresholding working with GPUImage2. Make sure to run `git submodule update --init`.https://github.com/justJS/WeScan/tree/develop

[2018-11-13 11:33] Boris-Em commented on #11
Good call @justJS. What's your suggestion for implementing it?

[2018-11-13 12:37] justJS commented on #49
Very happy to announce that I managed to get it working (way quicker than I expected) *without* GPUImage2! #80

[2018-11-13 13:29] jcampbell05 commented on #63
The project has now been updated to 4.2,  so hopefully will work once the podspec is updated

[2018-11-13 13:47] Boris-Em commented on #11
This seems like a good solution. Essentially the introduce parameter object pattern.

[2018-11-13 13:52] jcampbell05 commented on #69
We have a PR to update the podspec which may be causing the issue #65

[2018-11-13 13:53] jcampbell05 commented on #21
Could be handled by the parameter object proposed in #11

[2018-11-13 13:54] jcampbell05 commented on #31
Since this has been merged in #41 can we close this ?

[2018-11-13 13:54] Boris-Em commented on #31
Good call @jcampbell05. Closing as fixed with #41.

[2018-11-13 13:54] #31 closed

[2018-11-13 13:55] jcampbell05 commented on #32
Maybe a 2.0 feature? I think a good idea but should be deferred until we have a good workflow with the camera. I think we get one method of scanning done well then we can focus on adding a second later.

[2018-11-13 13:56] jcampbell05 commented on #10
Could also implement some sort of light snapping (See the way the new measure app in iOS does this for AR measuring) to assist the user.

[2018-11-13 13:56] justJS commented on #32
I feel like if we do this the host app should present option and pass it into WeScan. Because, for example, the host app might never want users to pick from photo library.

[2018-11-13 13:57] jcampbell05 commented on #50
Is this the same as https://github.com/WeTransfer/WeScan/blob/develop/CODE_OF_CONDUCT.md ?

[2018-11-13 13:57] justJS commented on #10
I feel that would be better suited as a new issue or #61/#71

[2018-11-13 13:58] Boris-Em commented on #32
Yes, I agree with @justJS. WeScan shouldn't get into the business of presenting the gallery. It should simply scan an image that's provided directly to it.
This is probably not too much work.

[2018-11-13 13:59] justJS commented on #32
Ah that wasn’t exactly what I meant but yeah, that would work too 👍

So we’d have the preferences object with a passed in image OR scan from camera

[2018-11-13 13:59] justJS commented on #38
Fixed in #41

[2018-11-13 14:00] justJS commented on #8
I honestly don’t see the point of this as right now I have to move (kinda) far with 1x already 🤔

[2018-11-13 14:01] Boris-Em commented on #50
I think that this is what @AvdLee is talking about:
https://github.com/WeTransfer/UINotifications/blob/master/CONTRIBUTING.md

[2018-11-13 14:04] julianschiavo opened #81 "Support passing in preferences when initializing the ImageScannerController"
As discussed in #32 and #11, we should add support for passing in preferences to the `ImageScannerController`.

As per our previous discussions, I feel this should be implemented as a ‘parameter object’, where there is a `ImageScannerPreferences` class with variables that have default values. The host app initialized the preferences object, optionally changes a certain preference, and passes in th

[2018-11-13 14:09] Boris-Em commented on #8
Makes sense, let's close this issue. We can always revisit it in the future.

[2018-11-13 14:09] #8 closed

[2018-11-13 14:10] Boris-Em commented on #38
Closed as fixed with #41.

[2018-11-13 14:10] #38 closed

[2018-11-13 14:12] justJS commented on #5
I feel this should be closed in favor of #39 which already has some discussion in it.

[2018-11-13 14:16] justJS commented on #51
@millertfin The issue of localizations not working is in #67, but nothing will be translated unless the localizations have already been contributed to WeScan.

Can we close this @boris-em?

[2018-11-13 14:19] Boris-Em commented on #32
I think that we should probably create a new, convenience `init` in `ImageScannerController` which would take a image and delegate as parameters.
[code]

[2018-11-13 14:22] justJS commented on #32
Yeah, however, couldn’t this be implemented in the existing proposal for preferences? Reduces the need for more initialized, this can just be handled in the main one.

[2018-11-13 14:24] justJS commented on #32
Sorry, deleted my comment because I completely misread your comment about *not* making this part of preferences.

I guess that works too 😆

[2018-11-13 14:29] Boris-Em opened #82 "Update Gif on README with New Design"
The gif used on the README isn't up to date with the way WeScan currently looks like. We should create a new gif showing the same functionality, but using the new design.

[2018-11-13 14:32] justJS commented on #82
If this is separate from #79 it should probably wait for the batch scanning, enhance button and rotate buttons as they’re coming soon 🤔

(Otherwise we’ll have to keep making GIFs and PRs OR you could add a requirement for a new GIF in PRs with big features?)

[2018-11-13 14:32] Boris-Em commented on #51
Like @justJS said, let's keep track of our localization issues on #67.

[2018-11-13 14:32] #51 closed

[2018-11-13 14:32] Boris-Em commented on #82
Good call @justJS.

[2018-11-13 14:33] Boris-Em commented on #5
Closed as duplicate of #39.

[2018-11-13 14:33] #5 closed

[2018-11-13 14:45] jcampbell05 commented on #32
Perhaps we just have a object the host app can pass an image to and does the rect detection algo the scanning VC does to the frame buffers (Perhaps the VC uses it too).

The host app can then pass this result to the edit VC if they want user to edit it or get a image from it.

[2018-11-13 14:46] jcampbell05 commented on #50
Cool I'm happy to do another PR for this :)

[2018-11-14 01:02] justJS commented on #39
Any thoughts/comments on location for the rotation buttons before I try and make a PR?

I'm not sure if they'd fit better on the "edit" screen (but this would be annoying as we'd have to rotate the quad and image together) or "review" screen (which isn't really meant for this).

[2018-11-14 08:53] Boris-Em commented on #39
This is something that @sagalundqvist and @StijnEversdijk can look at when they find some time.

[2018-11-16 03:41] justJS commented on #6
This is in #84 🎉

[2018-11-16 03:44] justJS commented on #20
Hey, I've done some work on this but am waiting for #80 to be merged (it includes changes to `ImageScannerResults`)

[2018-11-16 11:44] justJS commented on #39
I think we've basically settled on it being Scan -> Crop -> "Edit" instead of "Review" #80

[2018-11-20 06:04] CoderMaurice commented on #63
Anyone tell me if it can work in Objective-C?

[2018-11-20 12:49] jcampbell05 commented on #63
No body has tried since the update, I guess. Should be easy to import from swift though I would imagine.

[2018-11-20 12:55] CavalcanteLeo commented on #63
I will try by the end of this weekend

[2018-11-21 08:02] takhil commented on #63
Hi Integrated Swift Frame work in Objective-c project. It works for me. What you have do is

1.  First set Your Deployment target to 10.0+
2. Create a dummy swift class in your project. Now xCode asks you bridgingHeader. Create Bridging
     header. In bridging header file you need add objective-c class (#import"myClass.h") where you
     want to WeScan class.
3. Now in your class (#import"myClass

[2018-11-21 09:35] takhil commented on #63
I wrote the comment how to use WeScan in Objective-c.

[2018-11-21 12:12] CavalcanteLeo commented on #63
which version? `0.9.2` ???

[2018-11-21 12:19] CavalcanteLeo commented on #63
the version 0.9.2 is not available via cocoapods, then u can use
`pod 'WeScan', :git => 'https://github.com/WeTransfer/WeScan/'`

it's now working properly again

[2018-11-21 12:20] #63 closed

[2018-11-21 21:59] mehyaz opened #86 "Old Screen Cleaning"
Hello, I'm running the application with a button. I'm taking the picture and there's no problem. When I finish my work, click the button to run the application again, the old screen image is coming. Every time I press the button, I want a new screen to be opened. I want the old image erased. How can I do that.

[2018-11-22 01:40] justJS commented on #86
Hey, you need to make sure you're creating a new `ImageScannerController()` every time, so you don't accidentally present the old one (which still has the old image). Let me know if you have any troubles after doing this 🙂

[2018-11-23 09:11] takhil commented on #63
Swift delegate methods not worked in objective - c. So you need get image data through Notifications only. Need to add notification in scanViewController and call that notification in finish button action in Review Controller.

1. User may get errors like "Multiple name files.." like this. Then they need to change info.plist name in weScan folder.

2. Now in your class (#import"myClass.m") add "#i

[2018-11-25 10:32] justJS opened #88 "Use Github project boards"
We should enable Projects on the repo so we can have a todo, in progress, and done Kanban (trello) style board.

This way we can easily track duplicate/new issues and implementations, and note when we are working on an issue.

[2018-11-26 12:05] jcampbell05 commented on #49
Lets close this :)

[2018-11-26 12:07] jcampbell05 commented on #69
I guess we should cut a new release @Boris-Em  and then we can close this

[2018-11-26 12:36] justJS commented on #49
Closed as added in #80

[2018-11-26 12:36] #49 closed

[2018-11-26 12:39] justJS commented on #86
Upon further thought, I think we should implement a method to reset the `ImageScannerController` to it's original state (I'm thinking of a use case where the controller is displayed in an always-available pull up state from the bottom of the screen). Thoughts?

[2018-11-26 12:39] justJS commented on #67
This has been fixed.

[2018-11-26 12:39] #67 closed

[2018-11-26 12:48] justJS commented on #39
Can someone make an icon for this? I'm working on this but I can't find a good (free) icon.

(Just send an SVG and I can create the correct sizes)

[2018-11-26 13:34] Boris-Em opened #91 "Create new Release and update Cocoapods"

[2018-11-27 09:29] justJS commented on #39
Something similar to this would work. When I get around to making a PR, do we want 2 buttons (left/right) or only one @Boris-Em?

![](https://storage.googleapis.com/igeeksblog/wp-content/uploads/Rotate-Photos-in-iPhone.jpg)

[2018-11-27 09:30] Boris-Em commented on #69
I'll work on a new version today.

[2018-11-27 09:31] justJS commented on #86
If this is agreed on I can make a quick PR (shouldn't be too hard) to add a reset method when I have some time 🙂

[2018-11-27 09:31] Boris-Em commented on #39
I think that 1 should be enough. @StijnEversdijk, @sagalundqvist, thoughts?

[2018-11-27 09:32] Boris-Em commented on #86
Sounds like a plan! Thanks again for your contributions!

[2018-11-27 09:44] StijnEversdijk commented on #39
One icon should be fine, I'll make an icon either today or tomorrow!

[2018-11-27 09:45] justJS commented on #39
🙂 Thanks!

[2018-11-27 13:35] yangricardo commented on #69
That's nice to know this project is going to be improved! It helped me a lot combining in a my OCR solution :)

[2018-11-28 14:29] askeland opened #92 "iPhone X layout issues"
Looks like the changes in #83 did not work fully as expected. On iPhone X the flash icon is vertically aligned center and the Auto/manual button is vertically aligned in the bottom. Not sure which one of them that is most corrrect, but... Added a screenshot:

![img_ead76fef4674-1](https://user-images.githubusercontent.com/867061/49158417-61cc0b80-f322-11e8-950a-7e3169099da1.jpeg)

[2018-11-28 15:10] jcampbell05 commented on #92
May need to account for safe area

[2018-11-28 15:21] askeland commented on #92
They account for the safe area, but I believe that the UIToolbar is not optimal for this. You see a lot of users with same issue on SO and UIToolvar does not like custom heights. It might be better to just use an UIView as “toolbar” and UIButtons instead.

[2018-11-28 15:31] jcampbell05 commented on #92
@askeland yes I think thats the best solution since I'm not sure if we really need a UIToolbar

[2018-11-28 22:43] justJS commented on #92
Well, someone can open a PR for that but it’s gonna be *really* annoying as you can’t use UIBarButtonItems or the auto blurred appearance :/

[2018-11-29 08:05] askeland commented on #92
@justJS What was the main motivation for going away from just keeping it in a UINavigationBar?

[2018-11-29 08:07] justJS commented on #92
🤔 I don’t think we ever considered it, before the toolbar it *was* the default nav bar but flash/auto scan didn’t exist. Wouldn’t It not have the same style tho? I’ll check it out later when I’m on my computer.

[2018-11-29 11:45] jcampbell05 commented on #92
Blurred there are UIVisualEffectViews :) so you don't need a UIToolbar for that

[2018-11-29 12:08] justJS commented on #92
I know, but you probably can't add one to a nav bar? Haven't checked yet

[2018-11-30 07:26] iosdroid opened #95 "Crop the image selected from gallery"
its possible to crop the image selected from gallery

[2018-11-30 09:42] #95 closed

[2018-11-30 10:58] justJS commented on #92
I did as suggested in #94 (manually creating blur view to make it look more like Camera app). Thanks for the suggestions @jcampbell05 @askeland. 🙂

[2018-11-30 11:02] justJS commented on #92
Here's a screenshot 😛
![simulator screen shot - iphone xs - 2018-11-30 at 19 02 21](https://user-images.githubusercontent.com/19729335/49285483-79e28d00-f4d2-11e8-9e53-6d6cc28a9986.png)

[2018-12-07 10:05] BhaveshDhaduk commented on #91
Yes i have also facing this issue, Pod is not update as per the code.

[2018-12-07 15:30] StijnEversdijk commented on #39
![image](https://user-images.githubusercontent.com/5574228/49656285-3db4ac80-fa3d-11e8-9036-8ecd36ca5d44.png)

@justJS Sorry for the delay! Do you think the icon above would work? What direction do we rotate the image in, so I'll adjust the arrow the right way. Do you want it delivered as a PDF?

[2018-12-08 00:07] justJS commented on #39
Yeah, that looks great! Perhaps a little less rounded to fit in with out enhance icon 👍

Could you send it as an SVG? If not PDF is fine 🙂

(I’m not sure on direction yet, but I’m pretty sure it’ll be as that icon shows, so we have consistency with the Photos app)

[2018-12-11 10:32] StijnEversdijk commented on #39
@justJS Good call, changed it to a 1px line width:
[code]

[2018-12-11 10:36] justJS commented on #39
Thanks! Working on the rotate PR 🙂

[2018-12-15 12:00] goyanimaulik opened #97 "How to re-edit image OR add new image from imagePickerView"

[2018-12-17 10:03] kattaliraees commented on #63
import Foundation

class DocumentScanner : UIViewController {

    @objc public var imageScannerAction: (NSDictionary) -> () = {(results : NSDictionary) -> () in}
    @objc public var scannerViewController : ImageScannerController = ImageScannerController()
    @objc public var scannerPresentingViewController : UIViewController = UIViewController()

    override init(nibName nibNameOrNil: String?,

[2018-12-23 06:44] justJS commented on #76
Yes, I believe that’s how it’s meant to be.

Sent from my iPhone

[2019-01-02 08:09] Saad-twinbit opened #98 "entry point (_main) undefined. for architecture arm64"
"entry point (_main) undefined. for architecture arm64" When I added this folder to Objective c project.

[2019-01-02 11:51] justJS commented on #98
Hey, have you read through the [Obj-C instructions](
https://github.com/WeTransfer/WeScan/#objective-c)? If so, could you double check to make sure you followed the steps correctly? Thanks!

[2019-01-03 08:12] rohit-aq opened #99 "Pod doesn't have the updated code"
The example project has a more updated library and has features such as Auto Capture and Magic Wand fixes. When I installed the library using Cocoapods, these features are missing. Could you please ensure that Cocoapod is updated?

Thanks for creating this library, it works just great!

[2019-01-03 08:45] Saad-twinbit commented on #98
![screenshot 2019-01-03 at 2 41 55 pm](https://user-images.githubusercontent.com/46312725/50629206-d3245d00-0f65-11e9-968a-d78828b4fa5e.png)

After following [Obj-C instruction](https://github.com/WeTransfer/WeScan/#objective-c) I can run my project, but when try to present WeScan this error occured.

[2019-01-03 09:05] Saad-twinbit commented on #63
@takhil u r the boss... Thank u very much bro.

[2019-01-03 14:51] adityashri16 opened #100 "Image size reduction after scanning"
When image is captured and then flattened , the difference between the original and scanned image is almost double i.e. output image is low quality/size.

Can you please fix or let us know the solution to this? We need more quality images with lesser loss.

Thanks,
Aditya

[2019-01-03 15:06] n3soni opened #101 "Scanned image quality is reduced by half, even if target doc uses 90 percent of screen."
Hi @Boris-Em , Today I noticed, scanned images are captured in very low quality as compared to original image. Even if target document uses 90% of the screen.

On iPhone 6S, original image is of 2.2 mb, whereas scanned one had 880 kb. I had this observation with document occupying 90% of whole screen.

[2019-01-05 03:09] justJS commented on #101
This is a duplicate of #100. Could you close this and comment in #100 so we can work on this in one place?

[2019-01-05 03:10] justJS commented on #100
Hey, is there any way to test this easily? Perhaps you can make an example project that displays file sizes of captured images so we can debug this.

[2019-01-07 06:09] n3soni commented on #101
Hi there, I appreciate WeScan team's work. you have made a good product.
Steps to replicate issue:
I just ran example application and saved this image to PhotoAlbum with this code:
`func imageScannerController(_ scanner: ImageScannerController, didFinishScanningWithResults results: ImageScannerResults) {
        // The user successfully scanned an image, which is available in the ImageScannerResul

[2019-01-07 06:09] #101 closed

[2019-01-07 07:58] justJS commented on #100
Hey, I'm not actually a part of the organization that owns this repo - however, you should probablyly keep this open just in case so we/they can make sure it's not actually an issue.

It might be that there is actually some sort of issue here because #101 has the same problem.

[2019-01-07 08:00] adityashri16 commented on #100
Hi,

Sorry, I didn't know.
Thanks for letting me know.

keeping it open.

Thanks,
Aditya

On Mon, Jan 7, 2019 at 1:28 PM Julian Schiavo <notifications@github.com>
wrote:

[2019-01-07 13:13] jcampbell05 commented on #100
I'll see if there is some sort of test we can run for this.

[2019-01-07 13:14] jcampbell05 commented on #11
Has anything been done on this, keen do some work on this myself :)

[2019-01-07 13:16] justJS commented on #11
I'm not sure, but I believe @Boris-Em had done some work? `I'll open a PR for that soon!`

[2019-01-07 13:16] jcampbell05 opened #105 "Create a discussion area for the WeScan Developers, Contributors and Community :)"
I was thinking we could us Gitter or something to discuss development of WeScan and other things.

[2019-01-07 13:18] justJS commented on #105
Duplicate of #91 🙂

(It's probably off topic for this issue and I'm not sure on WeTransfer's stance, but seeing as this project has grown to 900+ stars and is getting very popular, it would be nice to have a Slack or discussion chat!)

[2019-01-07 13:19] justJS commented on #105
Duplicate of #91 🙂

(It's probably off topic for this issue and I'm not sure on WeTransfer's stance (cc @Boris-Em @AvdLee), but seeing as this project has grown to 900+ stars and is getting very popular, it would be nice to have a Slack or discussion chat!)

[2019-01-07 13:20] jcampbell05 commented on #105
Should have checked the github :) I'll rename this issue to reference the second thing I brought up as thats not duplicate ;)

[2019-01-07 13:22] jcampbell05 opened #106 "Include a Objective C Header"
It may be possible for us to make it easier to import the swift classes into a Objective-C project.

There is a `SWIFT_INSTALL_OBJC_HEADER` setting our framework target should have enabled, from that we can include a header file which imports the generated header.

Hopefully this should mean the umbrella header will import that header and then Objective-C users just need `#import <WeScan/WeScan.h>

[2019-01-07 13:30] jcampbell05 commented on #99
Duplicate of #91

[2019-01-07 13:30] jcampbell05 commented on #99
You should be able to install using a github reference vis cocoapods :)

[2019-01-07 13:38] justJS commented on #20
I played around with PDF but haven't made a PR yet. I have 3 PRs going right now so I'm just waiting to merge them to clear up my fork 🙂

[2019-01-07 13:57] rohit-aq commented on #99
Could you comment with github reference here?

[2019-01-07 14:00] echamussy opened #107 "Reorganization of navigation code"
Hi. I'm thinking to add WeScan to a new project I'm working on but the structure of the navigation code seems like it could be improved especially towards supporting multi page scanning. My suggestion in particular is to make the 'ScannerViewController', 'EditScanViewController' independent from a navigation controller navigation. In the ScannerViewController instead of pushing to the EditScanView

[2019-01-07 14:12] justJS commented on #107
Hey, this is already being worked on in issue #11 - if that’s what you wanted it would be best to close this issue so all the discussion is kept in one place 🙂

[2019-01-07 14:13] AvdLee commented on #105
I would love to know how much need for this there is. If anyone is reading this out of interest and wants to have this, lets vote by posting a 👍 on this comment.

[2019-01-07 14:15] justJS commented on #99
If you’re using CocoPods, this is how to do it:

pod 'WeScan', :git => 'https://github.com/WeTransfer/WeScan.git'

Hope that helps!

[2019-01-07 14:17] echamussy commented on #107
Thanks for your comment. Ok, I will close this and I will write my comment on issue #11 to keep the discussion in one place. Cheers.

[2019-01-07 14:17] justJS commented on #105
In case it helps, I feel that a discussion Slack would work not only for perhaps providing a bit of support with installation but also to track releases, discuss PRs/Issues, etc.

[2019-01-07 14:17] #107 closed

[2019-01-07 14:19] justJS commented on #107
Awesome, thanks!

[2019-01-07 14:33] echamussy commented on #11
I'm also very interested on having multi page scanning. I think one of the first steps is to re-organize the navigation code. My proposal is to make the 'ScannerViewController', 'EditScanViewController' independent from a navigation controller navigation. In the ScannerViewController instead of pushing to the EditScanViewController we could create a protocol with a method like

`func scannerViewCo

[2019-01-07 15:55] jcampbell05 commented on #105
My only reservation about slack is it can be pretty heavy to setup compared to gitter.im which is integrated into github :)

[2019-01-07 16:57] jcampbell05 commented on #99
Maybe another thing to add to the README

[2019-01-08 16:21] Boris-Em commented on #88
Good idea, this is done now.

[2019-01-08 16:21] #88 closed

[2019-01-08 16:35] Boris-Em commented on #105
I'd be in favor of Gitter as well. It's lower maintenance as far as I know.

[2019-01-08 16:35] AvdLee commented on #69
Way later than planned, but the new release is out. Closing this issue as fixed, let me know if any issues occur.

[2019-01-08 16:35] #69 closed

[2019-01-08 16:36] AvdLee commented on #91
We've just released a new version, closing this issue.

[2019-01-08 16:36] #91 closed

[2019-01-08 16:37] AvdLee commented on #92
@justJS is this one fixed? If so, you can close it :)

[2019-01-08 16:43] #6 closed

[2019-01-08 22:43] justJS commented on #92
Fixed in#94

[2019-01-09 01:38] justJS commented on #105
Fair enough, I guess I’m favorable towards Slack because I already use it for other things, but a gitter would probably work fine.

[2019-01-09 06:03] justJS commented on #98
Hey, I'm not too familiar with Objective-C but it seems you may have made a mistake when importing WeScan.

Could you try to follow the steps on this answer? https://stackoverflow.com/questions/8815200/receiver-type-for-instance-message-is-a-forward-declaration

It may also be that you've forgotten to `#import` WeScan.

[2019-01-09 09:43] #50 closed

[2019-01-09 09:53] justJS commented on #50
Hey @avdlee I know this issue is closed now but I just realized that maybe we should have a Contribuing section on the Readme too? What do you think? (I can make a PR if it’s a good idea)

[2019-01-09 09:57] justJS commented on #88
Hey, I noticed Projects were enabled but there’s no projects yet. If you make some projects/let others edit projects we can add the existing issues in for a quicker look at what still needs to be done, is being worked on, etc.

[2019-01-09 12:58] justJS commented on #32
Done! #110

[2019-01-09 12:59] justJS commented on #97
Hey @goyanimaulik, I've just made a PR to add support for this in WeScan! Follow #110 to be notified when this is added to the main WeScan framework 🙂

[2019-01-09 13:00] justJS commented on #95
Hey @iosdroid, I've made a new PR with the changes you requested: #110

Feel free to head over and leave a comment if you have any changes you'd prefer, and follow that PR to get notified when this is added to the WeScan framework 🙂

[2019-01-09 13:01] justJS commented on #32
(In case anyone's wondering, I'm basically just making the initializer for `ImageScannerController` skip the `ScannerViewController` completely and jump to `EditScanViewController` if a custom image is passed in)

[2019-01-09 14:04] echamussy commented on #11
Hi. As a follow up to my previous comment I've been working on implementing multiple scans and I have made quite a lot of progress towards this objective. I had to make changes to the navigation structure and implemented a view controller to be able to view and edit all pages scanned in one session. You can see the progress I've made in my fork here:

https://github.com/echamussy/WeScan

If you ha

[2019-01-09 16:08] AvdLee commented on #50
That would absolutely be great! Go ahead and I'll review it together with @Boris-Em 💪

[2019-01-09 16:47] valeriyvan opened #112 "Shouldn't completion be called here?"
https://github.com/WeTransfer/WeScan/blob/3ef8b8e49687fead61be62914d53fee61be3b1d8/WeScan/Common/VisionRectangleDetector.swift#L39

[2019-01-10 15:35] jcampbell05 commented on #112
Yes it should can you submit a PR :) with it calling it with `nil`

[2019-01-10 16:59] Sjahriyar opened #114 "v1 paper recognition fail, and default language."
As i updated the library, scanning is not accurate and it doesn’t recognize the paper very well, also default language is set to Chinese!

[2019-01-14 10:02] adityativ-issart opened #116 "overreleased while already deallocating; break on objc_overrelease_during_dealloc_error to debug"
Sometimes app crashes when trying to detect corners.

[2019-01-14 10:04] adityativ-issart commented on #116
it happens at this place:
[code]
in the RectangleFeaturesFunnel class.

[2019-01-15 17:00] #39 closed

[2019-01-16 11:59] marinofaggiana opened #117 "Auto / Manual"
Hi ! how is possible change the default auto scan switch to manual ?

Thanks a lot

[2019-01-16 12:00] justJS commented on #117
This is not currently supported but we could look at adding this as an option to the new preferences system (WIP): #81

[2019-01-16 13:07] #32 closed

[2019-01-17 19:18] winstonschen opened #118 "Cannot use framework because classes are not public"
I tried to use this as a Pod but use any of the classes because they're not declared public.

[2019-01-18 15:20] pavanvalluru commented on #76
Is this planned to fix or already done ?

[2019-01-19 19:51] adityativ-issart commented on #116
@Boris-Em Yes, it is pretty random. I have also a question about detect corners for a image from photo library. Can that framework detect borders for the photo from photo library?

[2019-01-21 09:37] Boris-Em commented on #118
Hi @winstonschen,
 `ImageScannerController` is the main class you should be interacting with and should be declared public. Can you check that it's the case for you?

[2019-01-21 09:46] justJS commented on #116
@adityativ-issart It doesn't actually show the picker: the host app must pass a image picked by the user to WeScan in the new `init`.

[2019-01-21 09:48] adityativ-issart commented on #116
@Boris-Em could you take an example, please?

[2019-01-21 09:55] Boris-Em commented on #116
The sample project is here for that @adityativ-issart.

[2019-01-21 15:19] winstonschen commented on #118
Yes, `ImageScannerController` is indeed public. But I'm building a bunch of features specific to my product and need more fine grained control. (For example, a rapid scanning mode that skips cropping and allow for scanning multiple pages rapidly to create a multi-page document.) In effect I'm writing my own `ScannerViewController`, `EditViewController`, and `ImageScannerController`. I love that We

[2019-01-21 15:28] winstonschen opened #119 "Improve Quad Detection and Enhancement based on Dropbox Document Scanner"
The Dropbox apps comes with excellent document scanning capabilities. Its page detection and post processing are very good. It would great if WeScan can develop capabilities that approximates that of the Dropbox app. Dropbox did reveal some of the core ideas in their blog:

[https://blogs.dropbox.com/tech/2016/08/fast-and-accurate-document-detection-for-scanning/](url)

and

[https://blogs.dropbox

[2019-01-21 16:41] Boris-Em commented on #119
Thanks for opening this @winstonschen!
Your ticket is a bit too generic.
It would be more useful to us if you could list specific cases where our implementation falls short of Dropbox's.

[2019-01-21 16:46] Boris-Em commented on #118
Thanks for the clarification @winstonschen.
That's indeed a good point. Our framework is not generic at all, and is very hard to use outside of our specific use cases.

[2019-01-21 17:17] winstonschen commented on #118
It's already working reasonably well after I made some of the properties and methods public.

Off the top of my head:

1. Make all properties and methods that can potentially be used outside of the classes/structs public
2. Create a class (say, ScannedPage) that encapsulates data of a captured image which includes original image, quad,  cropped image, enhanced image and implement a proper image pr

[2019-01-21 17:34] winstonschen opened #120 "Improve Image Enhancement Based on Dropbox Document Scanner"
Currently the only enhancement is` applyingAdaptiveThreshold()` which works well only under ideal lighting conditions and only produces BW images.

Dropbox Document Scanner contains a very good enhancement algorithm described here:

[Fast Document Rectification and Enhancement](https://blogs.dropbox.com/tech/2016/08/fast-document-rectification-and-enhancement/)

The algorithm accounts for uneven l

[2019-01-21 17:39] #119 closed

[2019-01-21 17:41] winstonschen opened #121 "Improve Quad Detection"
The Dropbox apps comes with excellent document scanning capabilities. Its page/quad detection is very good -- better than `CIDetector` or `VNDetectRectanglesRequest`. It would great if WeScan can develop capabilities that approximates this. Dropbox did reveal some of the core ideas in their blog:

[Fast and Accurate Document Detection for Scanning](https://blogs.dropbox.com/tech/2016/08/fast-and-a

[2019-01-22 10:10] jcampbell05 commented on #121
@winstonschen if you have anyone who has expertise in this that would be great :) I'm not an AI expert

[2019-01-22 10:14] justJS commented on #121
Not sure what other contributors think, but here are my two cents:

I really don’t think a custom quad detection algorithm, even if very good, is a good idea.

While a custom algorithm may be better, it would be hard to maintain, and if whoever contributed it stopped helping out, we’d be stuck with a unmaintainable detection algorithm. Furthermore, it would require constant training, and may add c

[2019-01-22 10:19] justJS commented on #120
Hey @winstonchen, I actually implemented the current enhancement filter with CoreImage in a pull request a few months ago.

I’m aware of Dropbox’s algorithm, but I do feel like it would be very hard to match: and I’m not sure on WeTransfer’s stance on the possible legal issues.

Do you have any ideas on how to implement this?

[2019-01-24 19:04] piotrros commented on #32
How do you do that? I've ran an example project from github, but it won't compile:

[code]

but I cannot find such a constructor for ImageScannerController class. How can I use ImageScannerController and provide initial UIImage so it immediately goes for edge detection?

[2019-01-24 22:03] piotrros commented on #32
I've found the issues: I was using wrong version, instead of:

`pod 'WeScan', '>= 0.9'`

you have to use:

`pod 'WeScan', :git => 'https://github.com/WeTransfer/WeScan.git'`

then, there are missing methods and classes I was missing.

[2019-01-24 22:27] piotrros opened #122 "Skip review"
Hello, is it possible to completely skip review stage? So, you have a picture, fix the edges and after tapping "Next" you're done with an UIImage, so you skip review stage, which to me is unnecessary. Just an extra question: is it possible to localize this library while still using it from cocoa pods or I'm forced to create a fork?

[2019-01-27 22:28] fatenumber25 opened #123 "CameraRoll Support (Bug)"
I'm used version
pod 'WeScan', :git => 'https://github.com/WeTransfer/WeScan.git'

then when I start scan image which picked from camera roll, I got wrong detected rectangle.
How can I fix that?

![photo_d10405_0128072031788](https://user-images.githubusercontent.com/22123971/51807725-1ad0a700-22ce-11e9-9a99-8088b75673ec.png)

[2019-01-28 10:33] jcampbell05 commented on #32
@fatenumber25 please don't double post :)

[2019-01-30 17:57] Cyberbeni commented on #116
Accessing the rectangles array happens on the same queue as detecting the rectangle with vision framework which is a DispatchQueue.global(qos: .userInitiated) which always grabs a random queue instead of being a serial queue, that's why it sometimes crashes. (you want to start the detection of the next rectangle before the previous one finishes but the result handling should be done on serial queu

[2019-01-30 18:04] Cyberbeni opened #124 "Move View(/layout) code out of Controller classes"
Setting up the views should be done in a UIView subclass and then referenced in the VC's loadView like this:

[code]

[2019-01-31 13:45] mikaZimmermann opened #125 "Beispielprojekt init aufruf"
Im Beispielprojekt wird, wenn ein Bild mit dem ImagePicker ausgewählt wird folgende init-Funktion aufgerufen:
     let scannerViewController = ImageScannerController(image: image, delegate: self)

im ImageScannerController wird allerdings keine init-func definiert, die ein Bild und ein delegate als Parameter nimmt. Wie wird dies mit dem aktuellen Stand gelöst?

[2019-01-31 13:57] mikaZimmermann commented on #125
Update: Funktion nicht in Pods vorhanden, im Repo schon.

[2019-02-01 12:55] AnandPGautam opened #126 "It's not working in Objective C, not able to add WeScan framework using Pods or manually"

[2019-02-01 14:07] AnandPGautam commented on #63
@takhil Thank you for attaching the sample app. I tried to do the same what you have mentioned and integrated in your sample. but I am getting below error :

<img width="604" alt="screenshot 2019-02-01 at 7 37 04 pm" src="https://user-images.githubusercontent.com/40850195/52127662-be1c1600-2658-11e9-8cbd-d21d0299f8d0.png">

Please advise.

[2019-02-04 11:54] #126 closed

[2019-02-07 16:22] teatreejasmine opened #128 "Allow for the customisation of the font and navigation colors"

[2019-02-09 21:21] marinofaggiana commented on #116
any news here ?

[2019-02-12 17:05] rajnishios commented on #95
when I load the photo from the gallery it's doesn't crop automatically....

[2019-02-12 22:25] erikvillegas commented on #116
I also ran into this crash that happens randomly: https://imgur.com/a/7sg6O8U

[2019-02-14 12:39] #92 closed

[2019-02-14 12:40] justJS commented on #128
Hi, while the font can't be customized, it's already possible to edit the navigation colors by changing the `tintColor` and `barStyle` of the `ImageScannerController` before presenting it. Is this what you were looking for?

[2019-02-14 12:41] justJS commented on #114
Hi @Sjahriyar, localization seems to be working fine for me. Can you check that your device and target language are set to English, and make sure you're on the latest version of WeScan?

[2019-02-14 12:49] justJS commented on #123
Hey @fatenumber25, as noted by @jcampbell05 could you provide the requested information so we can check if we can reproduce the issue?

[2019-02-14 12:49] justJS commented on #112
This is fixed in #130!

[2019-02-14 18:55] benwagucla opened #131 "Unable to access result rectangle coordinate points"
I am trying to access the the final rectangle's quad points, however I receive an error saying all the aspects of the rectangle (ex: "top left") are inaccessible due to internal protection level. Is there any way of accessing the rectangles coordinates?

[2019-02-14 23:31] justJS commented on #131
Thanks for the report @benwagucla! This is a mistake, I've created a PR which fixes it: #132

[2019-02-15 01:52] benwagucla commented on #131
Really appreciate the quick response!

Sent from my iPhone

[2019-02-15 06:25] justJS commented on #125
Hi @mikaZimmermann, it is a new feature which has not been released to CocoaPods yet. @Boris-Em might be able to release it?

Hallo @mikaZimmermann, es ist eine neue Funktion, die noch nicht bei CocoaPods veröffentlicht wurde. @Boris-Em könnte es vielleicht veröffentlichen?

[2019-02-15 06:27] justJS commented on #98
Hey @Saad-twinbit, have you managed to resolve this?

[2019-02-15 12:21] justJS commented on #20
I've started work: #133

[2019-02-17 05:34] justJS commented on #20
#133 is done and ready for review 🎉

(it's a breaking change as it renames variables in `ImageScannerResults`)

[2019-02-17 11:04] marinofaggiana commented on #116
This version 1.0 is pretty dangerous and unstable ... @justJS

[2019-02-18 09:36] Sjahriyar commented on #114
Well for the language it was fixed to english! but somehow it's fixed now! but scanner still doesn't recognise the papers easily, most of the time the white rectangle doesn't appear!

[2019-02-20 12:11] xiaotaner commented on #123
I have same issue;
When i pick image from Photos Library,i got the wrong detector rectangle;
I use iPhone5s(iOS12.1) and iPhone6(iOS11.4.1) and iPhone7 plus(iOS12.1) all devices got wrong detector rectangle;
Screen capture like this ![Screen capture](https://github.com/xiaotaner/about/blob/master/QQ20190220-200650%402x.png)

[2019-02-22 22:52] fatenumber25 commented on #123
I'm really sorry for late reply!!
I'm using iPad (5th generation) device. And the image as below.
![img_2533](https://user-images.githubusercontent.com/22123971/53275818-e8d12a00-373f-11e9-8ae3-518604d93ca5.JPG)

[2019-02-24 21:26] jcampbell05 commented on #123
Yeah it looks like we aren't taking into account the orientation header. The image data is portrait hence why the rectangle is where it is but we then fail to rotate it 90 degrees based on the metadata. A very annoying iOS thing.

We just need to read this value here @justJS  :)
<img width="532" alt="screen shot 2019-02-24 at 21 25 59" src="https://user-images.githubusercontent.com/1484989/5330555

[2019-02-28 01:11] crapthings opened #136 "Cordova support ?"
how easy to integrate wescan into cordova ?

[2019-02-28 10:00] #131 closed

[2019-02-28 10:07] jcampbell05 commented on #114
@Sjahriyar  can you let us know what version of the library you are using, also if you have a screen capture of the issue that will help alot :)

[2019-02-28 11:11] justJS commented on #131
@benwagucla This has now been fixed on the `develop` branch! It should be merged into master/CocoaPods eventually

[2019-02-28 11:16] justJS commented on #128
Hey @teatreejasmine, you can also customize the font of the entire app, which should change WeScan as well, like this:

```UILabel.appearance().font = UIFont(name: "yourFont", size: yourSize)```

Is there anything else you were looking to customize?

[2019-02-28 11:17] justJS commented on #122
We already have a few localizations and you can create a PR to add more!

I believe the request to skip review is a semi-duplicate of #21, what do you think @Boris-Em @AvdLee?

[2019-02-28 11:18] justJS commented on #112
This is fixed in #115 and can be closed 👍

[2019-02-28 11:18] piotrros commented on #122
In the end, I simply copied source files directly to my project and changed everything to fit my needs :)

[2019-02-28 11:18] #122 closed

[2019-02-28 11:19] justJS commented on #122
Awesome, happy to hear you fixed the issue 😃

[2019-02-28 11:19] justJS commented on #116
Hey @marinofaggiana - I am not the owner of the project. However, I will look at the issue and see if I can create a PR to resolve it.

[2019-02-28 13:44] takhil commented on #63
"
    ImageScannerController *obj = [[ImageScannerController alloc]init];
    [self presentViewController:obj animated:YES completion:nil];
    "
Use the above initial method. Then also you may get some errors in swift classes. Then you nee import "import UIKit" where you got errors.

[2019-02-28 13:46] justJS commented on #63
Does the sample app work for you? I know that it is repetitive but this seems to be fixed for others - can you check that you have the header and are using ‘import WeScan’ at the top of the file?

[2019-02-28 13:47] justJS commented on #63
If not it’s best that you create a new issue so we can track your issue better, this issue is already closed.

[2019-02-28 13:51] takhil commented on #63
Sample app works for me. When I created new app and tried to do same things I got issues. It may be compiler issues. I resolved all issues and again its working for me.

[2019-02-28 14:19] Sjahriyar commented on #114
I’m using the latest version which is 1.0
This is one sample:
https://i.imgur.com/XMlHYic.jpg

No paper detected!
Although if i downgrade to version 0.9.3 it does recognize the papers!

[2019-02-28 14:22] justJS commented on #114
@Shahriyar does it work in the sample app?

Sent from my iPhone

[2019-02-28 19:25] marinofaggiana commented on #116
@justJS thanks a lot for your job, now we use the old version 0.9.1, the autodetect generates the mistake.

[2019-03-01 01:13] mikeperrett opened #137 "Allow Passing the Aspect Ratio Threshold"
@Boris-Em @justJS
It works great for most documents. Unfortunately, I cannot use the scanner since the documents I'm expecting are not within what appears to be the default aspect ratio of 0.5. (Documents I’m scanning are 2x6 or taller).

**Can we pass in the CIDetectorAspectRatio, and other options?**
https://developer.apple.com/documentation/coreimage/cirectanglefeature
https://developer.apple.c

[2019-03-01 11:32] mikeperrett commented on #121
At the very least it would helpful to allow options to be passed to your main controller to initialize the CIDetector with the CIDetectorAspectRatio.
Currently, it appears that anything less than 0.5 cannot be scanned

[2019-03-01 11:35] justJS commented on #121
Hey @mikeperrett, I don't see where we're currently forcing the aspect ratio? Just for additional information, which version of iOS do you happen to use?

[2019-03-01 11:52] mikeperrett commented on #121
@justJS I’m using iOS 12 on both devices.
I’m not familiar with code, but  have a hunch that the default value 0.5 of the vision framework is preventing me from scanning anything of interest (my documents are all rather tall; 2x6 or 2x8)
https://developer.apple.com/documentation/vision/vndetectrectanglesrequest/2875378-minimumaspectratio

[2019-03-01 12:33] justJS commented on #121
iOS 11 and above uses Vision instead of CoreImage. I'm not sure if that's the issue but I'll check later.

[2019-03-01 13:12] mikeperrett commented on #121
@justJS
Thanks for the reply. Unfortunately all 5 of my devices are above 12.x so I cannot confirm the behavior pre-11.x.

As a test, with the WeScanSample app I modified
VisionRectangleDetector::rectangle, line 50 with
`rectDetectRequest.minimumAspectRatio = 0.3`

I am able to scan my 2" x 6" and 3" x 10" documents now.

Couple of questions,
1. I wasn't sure if I should move this over to issue:
[

[2019-03-01 15:03] mikeperrett commented on #121
@justJS Quick follow up; fwiw, I have confirmed that (my iOS devices > iOS 11.x) are able to scan the narrow documents using the CIRectangleDetector in CoreImage.

[2019-03-01 19:10] mikeperrett commented on #121
I created a pull request that does the bare minimum of adding a default value 0.1 aspect ratio to allow many other documents to succeed rectangle detection in iOS 11.x and later.
https://github.com/WeTransfer/WeScan/pull/139

[2019-03-04 08:26] n1tesh commented on #11
@echamussy Just a suggestion, it would be great if you add preview of latest image where u shows counts of images clicked. Like CamScanner's batch/multiple scanning.

[2019-03-04 08:47] xiaotaner commented on #116
I have same issue, crash in func resetMatchingScores

[2019-03-05 07:16] xiaotaner commented on #116
Do you have any idea to solve it ? @Cyberbeni , thanks

[2019-03-08 09:00] holtwick commented on #123
Or just normalize it before processing:

[code]

https://stackoverflow.com/a/10611036/140927

[2019-03-08 12:14] xiaotaner commented on #116
I delete the code about **DispatchQueue.global** in VisionRectangleDetector.swift file, it works correctly;
I think it is because all works after **captureOutput:didOutputSampleBuffer:fromConnection:** is in a same queue, so it do not need create a new queue;
As Apple say:
/*
@method captureOutput:didOutputSampleBuffer:fromConnection:

 @discussion
    Delegates receive this message whenever the o

[2019-03-11 20:09] n1tesh commented on #11
@echamussy Getting memory warning/crash after click 7-8 images continuously. Memory goes beyond 1GB on iPhone X in few clicks.

[2019-03-12 04:06] erikvillegas commented on #116
@xiaotaner Do you mind submitting a pull request with the fix, or at least provide a small snippet of code with the changes? Very eager to get this fixed in my app as well. :)

[2019-03-12 06:53] justJS commented on #137
This is fixed in #139

[2019-03-12 13:39] itrunks opened #142 "objective c not accepted new key word"
ImageScannerController *scannerViewController = [ImageScannerController new];
    [self presentViewController:scannerViewController animated:YES completion:nil];

not working on objective c, 'new' is unavailable

[2019-03-13 09:45] AvdLee commented on #136
@crapthings we don't have experience with Cordova. WeScan can be added as a native dependency which should work just like with other frameworks. Please, take a look at implementing frameworks in Cordova and see if that works!

[2019-03-13 09:45] #136 closed

[2019-03-13 09:45] AvdLee commented on #128
Closing this one for now. @teatreejasmine feel free to reopen if you have any more questions.

[2019-03-13 09:45] #128 closed

[2019-03-13 09:47] AvdLee commented on #125
Closing for inactivity. @mikaZimmermann let us know if you need any more help.

[2019-03-13 09:47] #125 closed

[2019-03-13 09:48] AvdLee commented on #124
@Cyberbeni it's not our plan to implement code like that, we're used to working with subviews. Thanks for your feedback though and feel free to help us improve our code by opening a pull request.

[2019-03-13 09:48] #124 closed

[2019-03-13 09:53] AvdLee commented on #118
@winstonschen we would be open to making the framework more flexible. Would you have the time to implement your suggestion in a pull request?

Might be good to start with the bare minimum, making some of the classes `open` instead of `public`, allowing you to adjust accordingly.

Let me know your thoughts!

[2019-03-13 10:04] justJS commented on #118
If it helps some of this is already in the under review PR #138

[2019-03-14 07:43] PrincessMine opened #144 "Toolbar Enhance Button and Rotation on Edit Screen(Bug)"
I have used the version
pod 'WeScan', '>= 0.9'

This is first time I am posting an issue so please ignore if it seems derogatory comment.

1). When I capture an image and come to edit screen bottom enhance button is not working for the first time click.
2). While clicking 2 times that button it works than rotate the image, the image gets change to original image.
3). Once I rotate first and do app

[2019-03-14 14:42] #142 closed

[2019-03-14 14:46] winstonschen commented on #118
I would be glad to and I can start in a week after I finish an app release. By the way, I've already made significant modifications to this framework and would be happy to contribute.

[2019-03-14 14:47] justJS commented on #98
This is fixed by updating the Objective C instructions in #143 /cc @avdlee

[2019-03-18 14:56] #116 closed

[2019-03-18 15:14] #112 closed

[2019-03-18 15:15] Boris-Em commented on #144
Thanks for reporting this bug @PrincessMine!
You can track the progress of the fix on this PR #145.

[2019-03-20 11:23] AlbertArredondoAlfaro commented on #123
Same issue here. Any idea on how to fix it?

[2019-03-20 12:25] jcampbell05 commented on #123
@AlbertArredondoAlfaro we just need someone to submit a PR with the above fixes :)

[2019-03-22 11:57] godofmadness commented on #47
So, is there some customization added ( from what was discussed )? Is there a way to create own flow?

[2019-03-25 11:13] ChrisTomAlx commented on #136
@crapthings and anyone else looking for a cordova plugin
Ver 3.x.x of this [plugin](https://www.npmjs.com/package/cordova-plugin-document-scanner) supports the latest cocoapod of this library.

You can add it to your project as below using npm and cordova cli
`cordova plugin add cordova-plugin-document-scanner@3.x.x`

**Plugin Usage Example**
[code]

**Important tasks after build - DO NOT skip**

[2019-03-26 04:57] crapthings commented on #126
how do you add wescan framework?

[2019-03-26 05:05] crapthings opened #147 "how to add wescan.framework? where to find it?"
cant find this one

![image](https://user-images.githubusercontent.com/1147704/54972699-cabd4a80-4fc7-11e9-9484-bee254e2df3c.png)

[2019-03-26 07:57] crapthings commented on #147
![image](https://user-images.githubusercontent.com/1147704/54980112-db79ba80-4fdf-11e9-8159-9188da12c070.png)

i dont see wescan.framework, but it works.

[2019-03-26 07:57] #147 closed

[2019-03-26 08:50] crapthings opened #148 "Swift Compiler Error"
what is wrong?

![image](https://user-images.githubusercontent.com/1147704/54982997-e3892880-4fe6-11e9-9308-2cdef062c1e8.png)

[2019-03-26 16:47] Boris-Em commented on #148
Hi @crapthings!
How did you import the framework?

[2019-03-27 01:42] crapthings commented on #148
pod install?

[2019-03-27 04:56] crapthings commented on #148
i think its my gem and pod problem, i've upgraded those tool, and change xcodeproj format to

![image](https://user-images.githubusercontent.com/1147704/55051334-9c0aa700-508f-11e9-8451-eaed1ced743c.png)

then pod install

[2019-03-27 04:56] #148 closed

[2019-03-29 06:03] ppyoosuf opened #149 "cancel and done button not working"

[2019-03-29 06:03] #149 closed

[2019-04-01 08:21] #144 closed

[2019-04-02 17:04] vikricnik opened #150 "Image from gallery rotation issues."
there seem to be an issue with rotation of detected image, it seems upside down when i select it from camera roll.

![IMG_4589](https://user-images.githubusercontent.com/49037898/55422505-12217900-557c-11e9-846b-075800a20bcb.JPG)
![IMG_4590](https://user-images.githubusercontent.com/49037898/55422522-19e11d80-557c-11e9-8761-187d338bcaaa.JPG)

[2019-04-02 21:13] jcampbell05 commented on #150
There is already an issue related to this can you close this 😀

[2019-04-03 06:29] vikricnik commented on #150
closed in favour of [issue](https://github.com/WeTransfer/WeScan/issues/123#issue-403602990)

[2019-04-03 06:29] #150 closed

[2019-04-03 08:11] ogulcankeskin93 opened #151 "Different ImageScannerController initialization between carthage's framework and sample project"
I tried to use scanner on selected image. But I use carthage to fetch and there is no initialization with image 'ImageScannerController(image: image, delegate: self)' inside framework.

[2019-04-03 11:35] zhengyachao opened #152 "crash object-c [self presentViewController:scannerVC animated:YES completion:nil];"
#import "TestWeScanViewController.h"

#import <VideoTeach-Swift.h>

@interface TestWeScanViewController ()

@end

@implementation TestWeScanViewController

- (void)viewDidLoad {
    [super viewDidLoad];
    self.view.backgroundColor = [UIColor whiteColor];
    // wescan 测试
    [self initTestButton];

    [[NSNotificationCenter defaultCenter] addObserver:self

[2019-04-04 01:58] zhengyachao commented on #152
Solved. Just set device orientation to portrait.

[2019-04-04 01:58] #152 closed

[2019-04-06 06:47] pchirag opened #154 "Looks inverted when selected from select document from gallery"
there is issues when scan document from Photo gallery crop ratio not proper look like it inverted.

[2019-04-07 13:08] jcampbell05 commented on #154
This is a duplicate we already have an issue of this please could you close

[2019-04-08 23:36] #154 closed

[2019-04-10 08:20] naoya0731 commented on #151
try 1.1.0

on 1.0.0, 'ImageScannerController(image: image, delegate: self)' is missing. I don't know why...

[2019-04-10 09:06] MikeFr opened #155 "Swift Compiler error"
Hi,

I used Cocoapods to include the version 1.1.0 in my project (swift 4 here) but there are several compiler errors :

![image](https://user-images.githubusercontent.com/282292/55866429-a002f280-5b80-11e9-8434-3cbd5da48a03.png)

I tried with the versions 0.9.1, same issues. Any ideas ?

Thanks,
Mike

[2019-04-10 21:53] MentalGear commented on #121
Having a customizable value would of course be best :)

[2019-04-11 10:30] jcampbell05 opened #157 "Interesting Image Processing Language"
I'm still investigate how to port the image processing code I found this language which is interesting.

https://github.com/halide/Halide

[2019-04-11 12:39] RajeshKumarK opened #158 "I want scanned image at the end of capture session"
Without navigating to the Edit and review screen, I want the final captured image (scanned image) in the CaptureSessionManager- didCapturePicture.

I tried the code in the EditScanViewController(pushReview) to make, but the returned image is not perfect as scanned. Please give any ideas to achieve.

[2019-04-12 14:59] jviloriam commented on #86
Good day! I end up with the same problem to reset the controller to get various images, so i added this code but i do not think it's the best solution.

In the "ImageScannerController" set this new function
`public func reset(){
        let scanner = ScannerViewController()
        self.setViewControllers([scanner], animated: false)
        navigationBar.tintColor = .black
        navigationBar.is

[2019-04-15 05:41] #158 closed

[2019-04-18 05:01] mobileonekh commented on #11
@echamussy after several images(4,5), the app is getting slow and it keeps spinning for around 1 minute before i can take another shot. I used iphone 6+.

thanks

[2019-04-25 11:24] chrigu1981 opened #161 "5 seconds after scanning until editViewController"
XCode 10.2
tested with Swift version 4, 4.2 and 5
iPhone XR 12.2

maybe this helps:

[code]

[2019-04-25 12:08] justJS commented on #137
This issue is fixed and can be closed as per #139

[2019-04-25 12:08] justJS commented on #105
Has there been any progress on this?

[2019-04-29 20:28] IosXcodeDeveloper commented on #147
Same question here. Where is the framework file ?

[2019-05-02 15:53] ManvelHovhannisyan opened #162 "Missing Cancel button"
Pick a photo from photo library to scan and check cancel button is missing.

[2019-05-02 16:36] jcampbell05 commented on #11
@echamussy did you open a PR for this, My company can sponsor some developer time from one our developers to get this finished. cc @Boris-Em

[2019-05-10 19:00] adityashri16 commented on #100
Hey,

I just signed the petition "Narendra Modi , prime minister : Saving future
of 16000 jet airways employees" and wanted to see if you could help by
adding your name.

Our goal is to reach 300,000 signatures and we need more support. You can
read more and sign the petition here:

http://chng.it/GnTPr9zZ5G

Thanks!
aditya

[2019-05-13 08:33] AvdLee commented on #11
@jcampbell05 that would be awesome! We would be more than happy to review your code to keep you up and running. Let me know if you have any questions!

[2019-05-13 16:12] echamussy commented on #11
@jcampbell05 @AvdLee sorry for not responding earlier. I didn't create a PR for this as I felt that it still needed to be cleaned up, however the multi page scanning functionality is complete on the fork I created (on the develop branch), PDF creation works and I'm not experiencing the memory consumption issues mentioned above by @n1tesh and @mobileonekh

Unfortunately I haven't kept my fork up to

[2019-05-14 14:51] jbarros35 opened #163 "Crash on IPAD landscape"
WeScan is crashing on iPad locked on landscape

 *** Terminating app due to uncaught exception 'UIApplicationInvalidInterfaceOrientation', reason: 'Supported orientations has no common orientation with the application, and [WeScan.ImageScannerController shouldAutorotate] is returning YES'
*** First throw call stack:
(0x1d4f7b518 0x1d41569f8 0x1d4e85c70 0x200b76a40 0x200b6703c 0x200b763b4 0x200a91d

[2019-05-14 15:19] jbarros35 commented on #76
its not working at all

[2019-05-17 11:31] chrigu1981 commented on #161
works on iphone 7. seems to be related to newer iPhones like XR

[2019-05-21 11:14] vanithavijay opened #164 "Unable to push ViewController"
Unable to push ViewController with navigation controller

[2019-05-27 08:35] jbarros35 opened #166 "Cant compile for swift 4"
At ShutterButton
Type 'UIAccessibilityTraits' (aka 'UInt64') has no member 'button'

There are several issues on that trying to use a pod and it doesn't compiling.

[2019-05-28 10:58] jcampbell05 commented on #11
@echamussy yes please that would be good 😀 we did some UI tweaks on our side so we can review it all.

Ping me when you're ready and I can loop with you @AvdLee

[2019-05-28 12:02] takhil opened #167 "Unable to call weScan from Objective-c with modified code."
From Objective -c I am calling we scan like this.

**ImageScannerController *imageScanner = [[ImageScannerController alloc] init ];
[self presentViewController:imageScanner animated:true completion:nil];**

But with updated code this is not working. Because there is no "init" method in ImageScannerController. We must need to pass image or nil to that constructor method. But that method while alloc

[2019-05-28 14:10] echamussy commented on #11
@jcampbell05 Sounds good! I just spent couple of hours merging the develop branch from the main repo into my fork and I'm almost done fixing conflicts and merging things together. I should have it done soon and I will submit a PR for your review. Talk soon. Cheers!

[2019-05-28 17:44] yangchen-acc commented on #123
Hi guys, I issued a PR to fix this issue, could you take some time to review it? Thanks!
https://github.com/WeTransfer/WeScan/pull/165

[2019-05-29 13:30] echamussy commented on #11
@jcampbell05 @AvdLee I just submitted a PR with support for multi page scans. This contains several breaking changes as I had to modify the navigation and the structure of some method signatures. I added a note to the PR with the changes I implemented (hopefully I listed all) and a few items that still need to be taken care of. The main challenge currently is to fix importing from camera roll whic

[2019-05-29 14:47] jcampbell05 commented on #11
@echamussy Cheers I'll check this out tomorrow and will see if there is any improvements I can contribute from our internal version. I'll submit a PR to yours with any of our tweaks :)

[2019-05-30 13:25] Kritesh7 opened #169 "Could not find module 'WeScan' for architecture 'armv7'; found: arm64"
import WeScan
I am facing problem Could not find module 'WeScan' for architecture 'armv7'; found: arm64
in Swift 4 please help me Thanks

[2019-05-31 17:04] yangchen-acc commented on #123
#165

[2019-06-06 18:51] jcampbell05 opened #170 "Add iOS 13 notes."
iOS 13 finally adds a view controller in the SDK which does the same thing as WeScan,
it may be a good idea to add a note to recommend people use that instead of WeScan for iOS 13 and above.

Eventually once iOS 10 - 12 isn't needed resources can then instead be deployed to the android port until Android gains it's own version.

[2019-06-06 18:52] jcampbell05 opened #171 "Update API to match iOS 13"
For better compatibility it may be a good idea to try and create an API closer to the new View Controller API in iOS 13 https://developer.apple.com/documentation/visionkit/vndocumentcamerascan

[2019-06-18 14:19] florentmorin opened #172 "SPM Support"
Did you plan to support Swift Package Manager?

[2019-06-18 16:47] jcampbell05 commented on #172
I believe we will once it is out of public beta.

[2019-06-21 11:24] sajangandhi2019 opened #174 "Crash while capturing the image in iOS 12"
We have used the latest version WeScan library in our app and it crashes while capturing the image in  **RectangleFeaturesFunnel** class in below mentioned method:

private func resetMatchingScores() {
        guard !rectangles.isEmpty else { return }
        for rectangle in rectangles {
            rectangle.matchingScore = 1
        }
    }

[2019-06-24 12:00] sandeepsuthar commented on #162
I have same issue

[2019-06-25 00:11] johnmccambridge7 opened #175 "Embedding with Objective-C."
I've found an issue with the setup involving objective-c with the swift library. Inside ImageScannerController.swift the init method is not being called when the scanner is called within Objective-C.

public required init() {
        let scannerViewController = ScannerViewController()
        super.init(rootViewController: scannerViewController)
        navigationBar.tintColor = .black
        nav

[2019-07-01 09:22] premsai456 commented on #163
Hi jbarros35 ... have you get any solution for this issue... i am also facing the same issue,....  if you found any solution please help us

[2019-07-22 08:53] AvdLee commented on #175
@johnmccambridge7 feel free to open a PR for this!

[2019-07-22 08:54] AvdLee commented on #174
@sajangandhi2019 thanks for reporting in. Do you have any crashlogs and reproduction paths?

[2019-07-22 08:55] AvdLee commented on #172
Challenge will be the resource files as this is not supported with package manager. We'll have to see what we can do there.

[2019-07-22 08:55] AvdLee commented on #171
@justJS you played around with this new API. What are your thoughts on this?

[2019-07-22 08:57] AvdLee commented on #170
Good idea! Question is whether it completely replaces WeScan. It looks good, but is not close to WeScan yet. It feels a bit buggy still, but if so, we should definitely add that to our readme!

[2019-07-22 08:57] justJS commented on #171
The official API is very similar to WeScan’s already! I’m currently traveling but I’ll check this out when I get back to Hong Kong 🙂

[2019-07-22 08:58] AvdLee commented on #169
@Kritesh7 let us know if this still stops you from using WeScan. We did not receive any more issues like this, so it would be great to have reproduction path.

[2019-07-22 08:58] #169 closed

[2019-07-22 08:58] AvdLee commented on #175
Closing as duplicate of https://github.com/WeTransfer/WeScan/issues/167

[2019-07-22 08:58] #175 closed

[2019-07-22 08:59] AvdLee commented on #167
This should be easy to fix in a PR. Feel free to open one and I'm happy to take a review!

[2019-07-22 09:00] AvdLee commented on #166
Swift 4.2 is a requirement, therefore, closing this issue as we don't support Swift 4.0

[2019-07-22 09:00] #166 closed

[2019-07-22 09:01] AvdLee commented on #164
The view controller should be presented modally!

[2019-07-22 09:01] #164 closed

[2019-07-22 09:03] AvdLee commented on #163
We didn't fully test WeScan yet on iPad. It should be fairly easy to fix! @Boris-Em we'll probably run into this with our current work

[2019-07-22 09:04] AvdLee commented on #161
@chrigu1981 can you share us your implementation code? This seems to be in our code, but just want to make it easy to reproduce this

[2019-07-22 09:05] AvdLee commented on #157
@jcampbell05 any plans with this? Otherwise, rather close this issue unless we have a clear plan description for improvements

[2019-07-22 09:05] AvdLee commented on #155
The library now uses Swift 5.0 which should fix your issues!

[2019-07-22 09:05] #155 closed

[2019-07-22 09:06] AvdLee commented on #151
Probably related to our code updates :)

[2019-07-22 09:06] #151 closed

[2019-07-29 10:39] oferRounds opened #177 "Getting the Italian localization, although my iPhone is set to (only) English"
Seeing this also on other phones

Any idea? I guess this relates to one of the latest PRs, which added Italian localization

[2019-08-05 14:59] jcampbell05 commented on #157
I'm investigating it some more.

[2019-08-05 15:09] #157 closed

[2019-08-08 06:51] weinixuehao commented on #120
@winstonschen
Have you implemented The drop box algorithm now?

[2019-08-08 10:37] jcampbell05 commented on #120
So it seems the dropbox also uses some special handling for how close a pixel is to white

[2019-08-08 12:08] winstonschen commented on #120
At WWDC, an Apple developer showed me this gem:

`inputCIImage.applyingFilter("CIDocumentEnhancer")`

It's very good and works in iOS 11 and above.

[2019-08-08 12:34] jcampbell05 commented on #120
Such a shame it's not a documented filter but great we have something

[2019-08-13 22:00] mjabbari commented on #161
I have the same issue and it's only happening for the first time when trying to scan after that it's working fine. it seems some UI not updating on the main thread

[2019-08-15 10:13] chrigu1981 commented on #161
@AvdLee  you should be able to reproduce it with the sample project. issue is only on newer iPhones, iPhone X and above

[2019-08-17 09:59] oferRounds commented on #177
Hi @AvdLee any chance you could have a look on this?

[2019-08-19 10:52] jcampbell05 commented on #177
It depend on how the localisation folders were configured - potentially it's implemented in a way that it defaults to Italian in certain circumstances i.e if the phone requests UK English but we've only provided US English rather than stating that we are supporting Generic English.

[2019-08-26 05:58] Abdullahyasin opened #179 "Get error unresolved "results.croppedScan.image" use from cocoapods"
I download project and use results.croppedScan.image then scan image is fine.However when i implement this lib using cocoapods in my project then i got error unresolved results.croppedScan.image.
If i used "result.scannedimage" and pick image from gallery then i got totally wrong scanned  image.Pleas fix this issue in cocoapods version.

[2019-08-26 07:48] AvdLee commented on #177
@oferRounds can you reproduce it with the example project? And which language is your phone set if this occurs?

[2019-08-26 08:12] oferRounds commented on #177
My phone is set to English US. I can try, sure

[2019-09-18 06:53] evanjd opened #180 "Navigation bar buttons are illegible when iOS 13's dark mode is enabled"
This issue is present on `EditScanViewController` and `ReviewViewController`, as seen below:

**iOS 13 light mode**:
<img width="433" alt="Screen Shot 2019-09-18 at 4 46 34 pm" src="https://user-images.githubusercontent.com/4055224/65122286-e879e280-da33-11e9-9ad4-5635878397f6.png">

**iOS 13 dark mode**:
<img width="426" alt="Screen Shot 2019-09-18 at 4 45 34 pm" src="https://user-images.githubus

[2019-09-18 07:10] evanjd commented on #180
Ah, its due to this: https://github.com/WeTransfer/WeScan/blob/develop/WeScan/ImageScannerController.swift#L64

[2019-09-18 10:24] evanjd opened #181 "Auto and Flash buttons are not rendered on iOS 13"
The **Auto** and **Flash on/off** buttons are not visible on iOS in `ScannerViewController`. This doesn't appear to be related to light/dark mode settings.

See below - top screen is from iOS 13 GM, bottom is from iOS 12.4.

![Screen Shot 2019-09-18 at 8 21 47 pm](https://user-images.githubusercontent.com/4055224/65140490-03f3e600-da52-11e9-9604-cb391cbd32f6.png)

[2019-09-18 10:39] evanjd commented on #181
This looks like an issue with `visualEffectView` [here](https://github.com/WeTransfer/WeScan/blob/develop/WeScan/Scan/ScannerViewController.swift#L101) not being moved behind the navigation bar items.

[2019-09-23 09:49] alxrguz opened #184 "Module compiled with Swift 5.0.1 cannot be imported by the Swift 5.1"
In the Xcode 11 available in the App Store, it is not possible to compile the project. Error text:
Module compiled with Swift 5.0.1 cannot be imported by the Swift 5.1 compiler: /Users/alxrguz/Library/Developer/Xcode/DerivedData/Scanner-gkkuymtwiaxrucaowypvkmjfrzlx/Build/Products/Debug-iphoneos/WeScan.framework/Modules/WeScan.swiftmodule/arm64.swiftmodule

[2019-10-01 08:10] dulgan commented on #184
You just need to do a `carthage update` to solve this issue after XCode 11 installation.

[2019-10-01 08:18] dulgan commented on #76
Still an issue today, will try to fix it with a PR

[2019-10-01 14:40] dulgan opened #186 "Add a "skip picture edition" feature"
I needed it in one of my project because I used your library as a drop in replacement for mine.

The idea here is to skip the page showing the cropped image and display a Done button directly on the rectangle editor.

See https://github.com/WeTransfer/WeScan/compare/develop...nartex:skip-image-editor

[2019-10-08 09:40] KrLikeblue opened #187 "I am getting error while uploading app on AppStore : ERROR ITMS-90087, ERROR ITMS-90209"
Hello,

When I try to upload app on AppStore. I am getting below errors. Can you please help me to solve it

App Store Connect Operation Error
ERROR ITMS-90087: "Unsupported Architectures. The executable for TextTranslator.app/Frameworks/WeScan.framework contains unsupported architectures '[x86_64]'."

App Store Connect Operation Error
ERROR ITMS-90209: "Invalid Segment Alignment. The app binary a

[2019-10-09 07:37] arashetm commented on #167
If you want to init an instance without parameters you can edit `init` method in `ImageScannerController` like this :

[code]

[2019-10-15 13:36] arashetm commented on #181
Change these 2 lines in `ScannerViewController` :
[code]
To:
[code]

[2019-10-17 06:21] PiyushNaredi opened #188 "App Crashing on EditScanViewController screen"
App is crashing when I increase the crop area to the end of the screen from left, right, top and bottom on EditScanViewController screen

[2019-10-23 15:02] XxTheParadoxX opened #189 "Merging WeScan in my Objc-C Project problem."
I followed all the instructions, i added the right files at the right place, i did import  the right files with the right name (#import "MyAppName-Swift.h"). I also added "@objc" before classes and made them "open". changes the build setting, etc.

But im still getting that error (Receiver 'ImageScannerController' for class message is a forward declaration )  when i write the following code in my

[2019-10-26 18:29] hadiidbouk opened #191 "Wrong cropped image"
I was trying to test the application with my iPhone 11 ( also tested in iPhone XS max), but it seems that the image edited are not cropped correctly, I don't know if it's a problem with iOS 13 or even these iPhones has a better camera. here is the image that I tested.
![Image from iOS](https://user-images.githubusercontent.com/19314956/67624318-c85df000-f837-11e9-98fb-f32d5330e43c.png)
![Image fro

[2019-11-07 20:10] caiocutrim opened #194 "Cannot assign value of type 'ImageScannerResults' to type 'UIImage?'"
I am tryng to get the result of cropped image and the variable type is UIImage and the Xcode show this message: 'Cannot assign value of type 'ImageScannerResults' to type 'UIImage?'.

[2019-11-07 23:02] #194 closed

[2019-11-08 02:45] LSFMint opened #195 "Flutter support"
Thanks for your so much for your contribution of build this open source code. Would like to know whether consider to use Flutter UI framework for WeScan?

[2019-11-09 22:24] EricWiener opened #196 "Language appearing in Chinese"
I'm on a phone that is set to English (and has never been set to anything but English). This also occurs on simulators. Most of the cropping buttons appear in Chinese (except the Done button is in English). Not sure what I can do to avoid this. It has been like this for a while now. I installed WeScan through cocoapods.

[2019-11-12 14:13] EricWiener commented on #196
I ended up temporarily resolving the issue by replacing all localization strings with the English labels. Not a good solution though. Would appreciate some advice.

[2019-11-13 00:02] EricWiener commented on #191
I'm also having this issue on an iPhone running iOS 12. It only happens with some images though.

[2019-11-14 12:28] hadiidbouk commented on #191
Any idea what is causing the problem?

[2019-11-14 13:08] EricWiener commented on #191
I think this is solved by #165 but I'm not able to get this through pod update and manually installing doesn't work because there are a couple of errors in master preventing me from complilingr.

[2019-11-14 13:29] hadiidbouk commented on #191
I see, but this guy mention that these changes are not released yet, https://github.com/WeTransfer/WeScan/pull/165#issuecomment-518628408, you cannot access them via pod, you should copy the files or specify the commit

[2019-11-14 14:49] EricWiener commented on #191
Updating my podfile to:
`pod 'WeScan', :git => 'https://github.com/WeTransfer/WeScan.git', :commit => '2beccd392966b19d8215a4e0054d7c9320520094'`

Fixed everything and gave me no compile errors.

[2019-11-14 14:50] EricWiener commented on #162
Try using #165. This issue was resolved in it. If you're using CocoaPods:

`pod 'WeScan', :git => 'https://github.com/WeTransfer/WeScan.git', :commit => '2beccd392966b19d8215a4e0054d7c9320520094'`

[2019-11-14 14:51] EricWiener commented on #123
For others running into this issue, update Podfile to get fixes:
`pod 'WeScan', :git => 'https://github.com/WeTransfer/WeScan.git', :commit => '2beccd392966b19d8215a4e0054d7c9320520094'`

[2019-11-14 21:21] EricWiener commented on #191
I just tested with a couple more photos and I’m still running into the same issue

[2019-11-15 15:56] jcampbell05 commented on #191
in another issue - its due to orientation.

[2019-11-15 17:08] EricWiener commented on #191
I tried installing manually vs. as a pod and specifying a commit. I manually installed the develop branch and now everything is working. This also fixed all the other issues I was having: the cancel button appears and localization works.

[2019-11-15 17:08] EricWiener commented on #196
Resolved entirely by manually installing WeScan vs. using CocoaPods.

[2019-11-18 19:22] muug6i opened #197 "I am calling swift in to my obj-c project but only showing up transparent background, doesn't show camera screen."
Attached screen shot.
![IMG_1527](https://user-images.githubusercontent.com/9411215/69082681-8f521d80-0a7b-11ea-979e-bb7c4f8a4f24.PNG)

[2019-12-04 00:25] saad-sec opened #201 "edge detection and crop the image in background mode."
I can detect edge in background mode, but after getting the edge how can i crop the image without going to EditScanViewController? I need to crop the edge detected image in background mode.

[2019-12-04 00:33] saad-sec opened #202 "Magnifying glass position is not useful."
Magnifying glass position is under the touch point. So user can not see the zoomed image easily. If i change the coordinate of corner view whole corner view position change. I need to change the only magnifier glass position.

[2019-12-15 12:01] mstralka commented on #123
Looking at the previous comment and PR #165, I think this issue is fixed and can be closed?

[2019-12-16 21:23] mikeperrett opened #203 "Add front facing camera support"
It would be awesome if we could pass in which camera to use.
UIImagePickerController.CameraDevice.front
or
UIImagePickerController.CameraDevice.back

[2019-12-17 11:15] y-okady opened #204 "Release 1.2.0 on CocoaPods"
Could you please update this library to 1.2.0 on CocoaPods? I'm using this through a library which depends on this. I'd like dark mode support but 1.1.0 doesn't support it. Thanks.

[2019-12-26 13:17] thlonglytll commented on #63
Hi all, Could anyone help me?

[2020-01-07 20:46] datthanh1911 opened #206 "adding WeScan manually to Xcode project"
I am trying to add a library "WeScan" to my Xcode project manually. I just downloaded the source file from GitHub and by drag and drop, added that we scan folder to my project. Then I tried to import that, but it is giving an error like : "No such module 'WeScan'"
![wD25b](https://user-images.githubusercontent.com/16730701/71928097-b4920c80-314b-11ea-979b-8f2a14f4ae65.png)

[2020-01-12 20:05] EricWiener commented on #86
I'd be happy to create a PR for this if there is still interest in this. Please let me know and I'll go ahead and work on it @julianschiavo

[2020-01-19 20:23] igorkaryi commented on #122
@piotrros please, share an example code. how did you get rid of the second screen edit

[2020-01-19 20:23] igorkaryi opened #208 "how did you get rid of the second screen edit?"
please, share an example code. how did get rid of the second screen edit

[2020-01-22 22:23] fredmoraes commented on #181
I'm testing on iOS 12.4.4, and the error persists. This time, the NavigationBar background and buttons are turning white. However, auto and flash buttons remain clickable.

[2020-01-23 20:28] shival opened #209 "Can we have a UISwitch to On/Off the auto scan feature?"

[2020-01-23 20:34] shival commented on #209
Add a public property to ON/OFF Auto Scan document feature.

[2020-01-24 08:41] muesker97 commented on #208
I found a solution but im pretty sure its not a good one.

In **EditScanViewController**:
[code]

[2020-02-03 21:24] FVivolo opened #214 "Need help integrating inside a obj C project"
everything seems to be ok, the wescan project is built and "embed & sign" but i get this error during building

Error Group
Undefined symbol: _OBJC_CLASS_$_ImageScannerController

do i need to point to a specific folder (and not Frameworks) to see the wescan.frameworK for objective C projects?

[2020-02-04 19:47] 3rsin3rgul opened #215 "setupConstraint Bug on iPhone 8 - 7"
Hello I have a bug report on this function;
`
    private func setupConstraints() {
        let blackFlashViewConstraints = [
            blackFlashView.topAnchor.constraint(equalTo: view.topAnchor),
            blackFlashView.leadingAnchor.constraint(equalTo: view.leadingAnchor),
            view.bottomAnchor.constraint(equalTo: blackFlashView.bottomAnchor),
            view.trailingAnchor.constr

[2020-02-10 08:50] AvdLee commented on #172
Keeping this open as we will add support once SPM supports resources

[2020-02-11 08:36] emretekin commented on #23
Any update for Android Repo?  @Boris-Em

[2020-02-11 10:44] muesker97 opened #216 "Camera View Orientation Bug?"
If i change the Orientation on the iPad (iOS 11) its rotating the Camera View.
After its rotated the Axis in the Camera View are swapped. When i turn the iPad to the left the camera view moves the visible camera output to the bottom.
Is this a bug or could u give me any advice to fix this behaviour?
Its mentioned in #76 and #185 and it's still a problem or am i missing something?

[2020-02-14 11:49] kostapappas commented on #215
@3rsin3rgul
wrap your ImageScannerController in main thread

         DispatchQueue.main.async {
            self.scannerVC = ImageScannerController()
            self.scannerVC?.imageScannerDelegate = self
            self.scannerVC?.popToRootViewController(animated: false)
            if let vc = self.scannerVC {
                self.present(vc, animated: true)
            }
        }

[2020-02-17 00:07] #204 closed

[2020-02-17 00:07] #206 closed

[2020-02-17 00:07] #202 closed

[2020-02-17 00:07] #203 closed

[2020-02-17 00:07] #197 closed

[2020-02-17 00:07] #201 closed

[2020-02-17 00:07] #189 closed

[2020-02-17 00:07] #191 closed

[2020-02-17 00:07] #195 closed

[2020-02-17 00:07] #187 closed

[2020-02-17 00:07] #188 closed

[2020-02-17 00:07] #184 closed

[2020-02-17 00:07] #186 closed

[2020-02-17 00:07] #179 closed

[2020-02-17 00:07] #180 closed

[2020-02-18 00:06] #174 closed

[2020-02-18 00:06] #177 closed

[2020-02-18 00:06] #170 closed

[2020-02-18 00:06] #171 closed

[2020-02-18 00:06] #167 closed

[2020-02-18 00:06] #161 closed

[2020-02-18 00:06] #162 closed

[2020-02-18 00:06] #123 closed

[2020-02-18 00:06] #137 closed

[2020-02-18 00:06] #120 closed

[2020-02-18 00:06] #121 closed

[2020-02-18 00:06] #118 closed

[2020-02-18 00:06] #117 closed

[2020-02-18 17:46] Giordano57 opened #217 "demo not working"
HI,
I downloaded the app but I receive the following error:

/Users/GiordanVico/Library/Developer/Xcode/DerivedData/WeScan-glmyhlhayrkuabfdaiwovacqwddw/Build/Intermediates.noindex/WeScan.build/Debug-iphonesimulator/WeScan.build/Script-503A25EC22FB045E00534850.sh: line 2: ./Submodules/WeTransfer-iOS-CI/SwiftLint/swiftlint.sh: No such file or directory
Command PhaseScriptExecution failed with a nonz

[2020-02-19 00:06] #106 closed

[2020-02-19 00:06] #114 closed

[2020-02-19 00:06] #100 closed

[2020-02-19 00:06] #105 closed

[2020-02-19 00:06] #81 closed

[2020-02-19 00:06] #98 closed

[2020-02-19 00:06] #71 closed

[2020-02-19 00:06] #76 closed

[2020-02-19 00:06] #47 closed

[2020-02-19 00:06] #61 closed

[2020-02-19 00:06] #20 closed

[2020-02-19 00:06] #21 closed

[2020-02-19 00:06] #10 closed

[2020-02-19 00:06] #11 closed

[2020-02-19 05:20] harishthanniruios opened #218 "how can i scan multiple images at same time"

[2020-02-19 05:21] harishthanniruios commented on #218
i want to scan multiple images and i want to make one pdf with all images with pages can anyone help me in this.

thanks

[2020-02-23 00:06] #86 closed

[2020-02-24 09:14] phani697 commented on #218
You can do this.

1. First in review screen Add "Next Scan" button and Done button.
2. If user selects "Next Scan" then first save the already scanned image in document directory with some name and push back to scan image.
3. Now scan another image and save it in document directory with another name.
4. If user selects the done button then make a pdf with images saved in document directory and  re

[2020-02-27 15:58] aboud-masoud opened #219 "Translation"
how I can add new translation not exist currently like Arabic

[2020-02-27 23:31] EricWiener commented on #217
I'm getting the same issue.

[2020-02-28 02:11] EricWiener commented on #196
This is still an issue when installing with CocoaPods

[2020-02-29 18:12] EricWiener commented on #217
I was able to fix this issue by removing SwiftLint from the build phases. Open up the WeScan.xcodeproj and navigate to Build Phases for both the WeScanSampleProject and WeScan framework. Delete the SwiftLint build phase from both.

<img width="1400" alt="Screen Shot 2020-02-29 at 1 08 58 PM" src="https://user-images.githubusercontent.com/18071029/75612802-10966300-5af5-11ea-9d85-82daf6315d14.png">

[2020-02-29 18:14] EricWiener commented on #206
What ended up working for me was dragging the entirety of WeScan-master (I downloaded the zip) into my project directory. Then, I dragged the WeScan.xcodeproj into my project. That ended up working for me.

[2020-02-29 18:15] EricWiener commented on #40
What ended up working for me was dragging the entirety of WeScan-master (I downloaded the zip) into my project directory. Then, I dragged the WeScan.xcodeproj into my project. It was important to drag the WeScan-master folder in otherwise GitHub wouldn't keep track of it and when cloning the repository it wouldn't be able to find WeScan.

[2020-03-03 12:17] hardiktgreydesk opened #220 "Inheit whole class"
Can we inherit the whole class ? so scan ViewControllewer can be available without present.

[2020-03-04 00:07] #181 closed

[2020-03-04 00:07] #209 closed

[2020-03-05 00:07] #208 closed

[2020-03-09 21:16] bdjessup commented on #216
I am still seeing this bug as well (iPad Pro, iOS 13).

Regardless of whether an app is launched in landscape or portrait, the scanner opens in portrait.

[2020-03-12 14:50] TranAn96 opened #226 "Scan Rectangle"
In my image, have 3 rectangle, but it can scan 1, how can i scan multiple rectangle in 1 image ? at the same time?

[2020-03-12 15:40] jcampbell05 commented on #226
This isn't the focus of the project - best solution is to build your own code that does this using rectangle detector

[2020-03-14 09:00] mmxashu opened #227 "Disable Rectangle Detection Feature"
There is not any option available to disable rectangle disable if user want to capture full image .

Can you guyz help me on this , which property will be use for this ?

[2020-03-15 00:08] #214 closed

[2020-03-16 09:40] mrlazy1324 commented on #163
Hi @jbarros35 ,  Have you get any solution for this issue? Any update I still facing this issue

My iPad app only supports landscape mode and camera of this library is show me always wron view

[2020-03-16 12:10] mrlazy1324 commented on #163
In this crash is solved by changing in

filename: ImageScannerController.swift
line number: 60
override public var supportedInterfaceOrientations: UIInterfaceOrientationMask {
        return .landscape //.portrait
    }

But Camera view not setting up to the landscape, I tried to change this in CaptureSessionManager.swift file

videoPreviewLayer.connection?.videoOrientation = .landscapeLeft

but n

[2020-03-16 13:27] AvdLee commented on #163
@mrlazy1324 Sorry that this is still happening! We're open to receive any PRs to fix this issue 🙂

[2020-03-24 07:02] Aizaz-Abbasi opened #229 "Return Nill originalImage: nil, scannedImage: nil, enhancedImage: nil, doesUserPreferEnhancedImage: false)"
originalImage: nil, scannedImage: nil, enhancedImage: nil, doesUserPreferEnhancedImage: false)
when i selected image it return nill and nothing happened.

[2020-03-25 19:49] bdjessup opened #230 "Swift 5.2/Xcode 11.4 support"
Getting this error trying to compile after updating to Xcode 11.4:

`Module compiled with Swift 5.1.3 cannot be imported by the Swift 5.2 compiler`

[2020-03-27 00:05] #215 closed

[2020-03-27 00:05] #163 closed

[2020-04-01 19:23] mariogalvaozup commented on #191
I've got the same problem on version 1.5.0. Any fix?

[2020-04-06 00:04] #218 closed

[2020-04-07 18:03] laferil opened #232 "Carthage Build Failed Xcode 11.4/Swift 5.2"
Trying to update the package through Carthage gives a build error.

`Build Failed
	Task failed with exit code 65:
	/usr/bin/xcrun xcodebuild -project /HIDDEN/Carthage/Checkouts/WeScan/WeScan.xcodeproj -scheme WeScan -configuration Release -derivedDataPath /Users/HIDDEN/Library/Caches/org.carthage.CarthageKit/DerivedData/11.4_11E146/WeScan/1.5.0 -sdk iphoneos ONLY_ACTIVE_ARCH=NO CODE_SIGNING_REQUIR

[2020-04-09 00:05] #219 closed

[2020-04-10 00:06] #196 closed

[2020-04-11 00:05] #217 closed

[2020-04-14 00:06] #220 closed

[2020-04-20 04:57] rahul-1012 opened #236 "Didn't identify exact object"
Hello,

I have integrated this SDK in my project but with few's images this SDK didn't find the exact object.

Please see the below video link :

Link : [https://we.tl/t-3t9Uv6mESm](url)

As i check a lot but i didn't able to resolve this, can you help me out for the same.

[2020-04-20 12:06] AkshayNG commented on #230
Having the same issue. Any fix for this ?

[2020-04-20 12:07] AkshayNG commented on #232
Having the same issue. Any fix for this ?

[2020-04-23 00:05] #226 closed

[2020-04-24 08:52] muiscatron commented on #232
Likewise - same issue.

[2020-04-25 00:05] #227 closed

[2020-05-01 09:56] GiordanoVicoli opened #243 "Importing WeScan in Objective c project"
Hi everybody,

I tried rescan project and it works but I also need to import the project in a objective c project. I seems it doesn't work because it doesn't recognize ImageScannerController delegate. How can I solve this problem?
Thank you very much in advance and regards,
Giordano

[2020-05-04 00:06] #229 closed

[2020-05-04 19:52] tarasis commented on #232
I'm trying to build nextcloud-ios which uses WeScan. The latest release (1.2.0) has an error linting; basically there is a extra empty line there.

`Linting 'ShutterButton.swift' (4/33)
/Users/tarasis/Programming/Projects/nextcloud-ios/Carthage/Checkouts/WeScan/WeScan /ImageScannerController.swift:86:1: error: Vertical Whitespace Violation: Limit vertica
l whitespace to a single empty line. Curren

[2020-05-07 02:29] omsi96 commented on #232
same issue here

[2020-05-09 10:26] gokulbspaceo opened #245 "Camera is not opening sometime in subversion of iOS 13"
**Hello WeScan Team,**

I faced issue that camera is not opening in my app sometime in particular subversion of iOS 13 but is it working perfectly fine lower than iOS 13 (11.* & 12.*)

After restarting device, it will be worked again normally.

Can you please help me to solve this issue rather than restarting device?

I am waiting your response early as much as possible.

**Thanks**

[2020-05-15 06:34] AvdLee commented on #172
SPM Support for resources is coming in Swift 5.3!

[2020-05-27 09:43] wrlf5 opened #247 "Magnified corner preview showing rotated image"
Hello,
thanks for great library !

I found a small issue with magnified corner previews.
Magnified circle preview shows rotated image when initialising ImageScannerController with UIImage. When using image from camera it works great. When for example selecting image from gallery we see correct image in EditScanViewController but image in corner circle is rotated when adjusting the corner. It doesn

[2020-05-31 00:11] #230 closed

[2020-05-31 00:11] #236 closed

[2020-06-12 00:12] #243 closed

[2020-06-12 07:32] muiscatron commented on #230
Also having the same issue. Any plans to update?

[2020-06-12 14:34] UlanNurmatov opened #248 "How to get cropped rectangle image without pushing EditScanViewController?"
How can I get cropped rectangle image if I don't need EditScanViewController and ReviewViewController?

[2020-06-13 17:31] #248 closed

[2020-06-18 00:12] #232 closed

[2020-06-19 00:12] #245 closed

[2020-06-30 18:24] Mdhasan4449 opened #252 "Camera sometimes freezes"
Camera sometimes freezes & cannot get it to work. Even if I delete & build the project again, the camera is still frozen.
Only way to solve is to reboot the device. Then the camera starts working. Please help. Thank in advance.

[2020-07-01 15:17] #252 closed

[2020-07-02 06:31] andschdk opened #253 "Snapshot tests fail"
No PRs are able to be merged because the snapshot tests fail on `master` branch.

#249
#250
#251

[2020-07-07 00:15] #247 closed

[2020-07-21 13:51] bbkelleroglu opened #255 "Implementing toast message while user holds camera through any object."
Hi, i just wonder that implementing user guidance by using toast message while holding specific object is useful or not?
For example, when auto rectange cannot decide which object is to be chosen one, the message can be "Please adjust angle".
or "Use darker background."

If you think that those cases are useful, i would like to contribute.

Thanks.

[2020-07-25 17:03] rastaman111 opened #257 "Draw"
Good day!  It would be cool to add a drawing function on pdf: to underline something or sign a document.  Let me know if possible to implement it

[2020-07-29 08:08] michalmelich-visma opened #258 "QuadrilateralView and Quad detection improvements"
Hello,

I have a few suggestions for improvements

**QuadrilateralView**

Quadrilateral view fill and stroke colors cannot be changed when using CameraScannerViewController or EditImageViewController (only stroke color here) with custom UI. Currently it's set to white and it might not be suitable for all apps.

**UIImage extension**

Expose public api to detect quad on UIImage so that the image an

[2020-08-06 14:09] marinofaggiana opened #260 "Task failed with exit code 65"
From the 1.4.0 the Carthage return a

Task failed with exit code 65

Can you fix ?

Thanks

[2020-08-12 00:19] #253 closed

[2020-08-21 05:55] Pellagius commented on #216
Just bumping to add interest - Im of firm belief this is actually an issue at the iOS framework level, other libraries and scanning implementations have users reporting the same issue. I first discovered it using WeScan.

I experience the bug on an iPad Air iOS 12.4.8, there are other iOS devices not experiencing the bug.

Is there any insight into its remedy here?

[2020-08-21 06:53] AvdLee commented on #216
We have not yet found the time to dive in. In those other projects, have you found an example with a fix too? That could help speed up fixing this.

[2020-08-24 04:02] godofgom commented on #216
Is exif problem in picture?
![IMG_0339](https://user-images.githubusercontent.com/1132357/91002528-e2a85c00-e609-11ea-9034-1e1367ddfd39.PNG)
![IMG_0338](https://user-images.githubusercontent.com/1132357/91002539-e805a680-e609-11ea-9e2b-d507e3dc7392.PNG)

[2020-08-24 05:19] NoviceGom opened #261 "Zoom image bug in EditScanViewController"
![IMG_0339](https://user-images.githubusercontent.com/1132357/91006128-8813fd80-e613-11ea-99dc-8ba9481410d3.jpg)
![IMG_0338](https://user-images.githubusercontent.com/1132357/91006137-8e09de80-e613-11ea-907a-49051745cddc.jpg)

Zoomed QuadrilateralView has problem like this.
I thinks exif problem.
Zoomed image rotated 90 degree.
Also bottom left zoomed image looks like not correct.

[2020-08-24 17:35] oferRounds commented on #196
Seeing this also, on my case – getting Russian. I believe this should be reopened

[2020-08-28 10:58] LucaComanducci commented on #196
This problem occurr also to me: device in Italian -> German localization. This issue should be reopened!

[2020-08-31 02:09] godofgom commented on #261
I found solution at UIImage+Utils.swift.

https://stackoverflow.com/questions/28478293/losing-image-orientation-while-converting-an-image-to-cgimage

I thinks fix to this code. But I'm not sure if this is a clean way.

`
func scaledImage(atPoint point: CGPoint, scaleFactor: CGFloat, targetSize :CGSize) -> UIImage? {

        guard let cgImage = self.cgImage else { return nil }

        let fixTarg

[2020-09-01 00:23] #255 closed

[2020-09-01 07:32] ehrldyd15 opened #262 "how can i change button Text label ??"
is it possible to customize buttons ??

[2020-09-04 00:23] #257 closed

[2020-09-04 08:39] Sid7862 opened #263 "Cannot Integerate with Objective c"
Hi,
I am trying to using this library in a objective project but your given instructions to integrate  is not working.
Can you please help me out on this
Thank you

[2020-09-04 09:46] Sid7862 opened #264 "How to work with photo library in objective c"
Hi,
How can integrate the select feature from photo library and pass it to ImageScannerViewController for edge detection in objective c.
Thank you

[2020-09-04 09:46] #263 closed

[2020-09-06 08:55] marinofaggiana commented on #260
Project no more maintained ?

[2020-09-08 00:23] #258 closed

[2020-09-13 14:36] hizozo opened #265 "Appstore"
Why don't make this app available on the appstore for free ?

Sincerely

[2020-09-16 09:54] Salmancs43 opened #266 "Localization Into Arabic"
Can you please add localisation file for arabic?

[2020-09-23 04:30] duyhct opened #269 "Build error with Xcode 12"
Hi WeTransfer, I have build my source with your library and have a issuse like this. Can you support me to solve this? I'm using Xcode 12 and Swift version is 4.2.

Thank you and waiting for your reply.

![Screen Shot 2020-09-23 at 11 27 33](https://user-images.githubusercontent.com/2231401/93966838-e4437c00-fd8f-11ea-8878-1d12fcd87a47.png)

[2020-09-23 11:13] KirillStaroselskiy commented on #269
I have same problem

[2020-09-23 11:17] waqasiosdev commented on #269
Hi, is there any way i can detect rectangular shape from an image picked from library ? like on a still image

[2020-09-29 16:01] emrcftci commented on #269
this is not the place where you can find it.

[2020-10-02 11:51] elkorb opened #270 "How to Run the project?"
Hi, I'd like to contribute to the project, I forked and cloned it, but I'm unable to run it.
Can you please provide an explanation for that?
Thanks

[2020-10-07 17:15] #260 closed

[2020-10-11 00:28] #261 closed

[2020-10-14 00:27] #262 closed

[2020-10-14 07:10] elkorb commented on #270
?

[2020-10-15 00:28] #264 closed

[2020-10-24 00:29] #265 closed

[2020-10-27 00:30] #266 closed

[2020-10-28 09:43] devendra-kr-gupta opened #273 "Not able to Run"
Hello WeTransfer Team,
i am not able to run the source code, as i have downloaded the latest source code from Github.
i am facing this error - /Users/apple/Library/Developer/Xcode/DerivedData/WeScan-frbjzsxkzcsqocadalmxrqjamoss/Build/Intermediates.noindex/WeScan.build/Debug-iphonesimulator/WeScan.build/Script-503A25EC22FB045E00534850.sh: line 2: ./Submodules/WeTransfer-iOS-CI/SwiftLint/swiftlint.s

[2020-11-05 08:42] AR77 opened #274 "On archiving getting an issue of missing armv7 in WeScan.framework"
Unable to archive the build when using WeScan.framework. Xcode throwing error of missing armv7

[2020-11-09 00:21] #269 closed

[2020-11-12 02:32] padgithub opened #275 "[Help] Add japan language"
Your content I have translated into Japanese
Plz add it

----------
/* The "Next" button on the right side of the navigation bar on the Edit screen. */
"wescan.edit.button.next" = "次";

/* The title on the navigation bar of the Edit screen. */
"wescan.edit.title" = "スキャン編集";

/* The title on the navigation bar of the Review screen. */
"wescan.review.title" = "レビュー";

/* The button titles on the Sc

[2020-11-13 21:12] Torlopov-Andrey opened #276 "[HELP] Implementation VisionRectangleDetector.completeImageRequest() crash when I work with long image [750 × 6568]"
Code in enum VisionRectangleDetector

method `completeImageRequest(...)`
[code]
### Log
[code]

### Image example
![Image from iOS](https://user-images.githubusercontent.com/16744462/99121721-f6ae9900-260d-11eb-9499-3374522017a4.jpg)

[2020-11-22 10:34] phr85 commented on #273
I'm have the same Issue (Xcode 12.2).

[2020-11-24 00:21] #270 closed

[2020-11-26 01:02] evandorn commented on #273
You guys can go into the Targets -> Build Phases and delete the phase which is titled "SwiftLint" that fixed it for me. You'll need to do it for both the sample project target and the framework

[2020-11-30 16:58] evandorn opened #277 "Swift protocols not marked with @objc"
Is there any reason why this library is choosing not to mark the Swift protocols (such as CameraScannerViewOutputDelegate) with `@objc` to expose them to Objective-c code? I am currently trying to integrate WeScan with some existing Objective-c code and it's difficult without explicitly exposing these protocols. I'm willing to open a PR to fix this. Thanks!

[2020-12-02 10:58] kvvaradha opened #278 "jpegPhotoDataRepresentation(forJPEGSampleBuffer:previewPhotoSampleBuffer:)' was deprecated in iOS 11.0"
I am getting this issue while trying to build it.
jpegPhotoDataRepresentation(forJPEGSampleBuffer:previewPhotoSampleBuffer:)' was deprecated in iOS 11.0. How do i fix it ?.

[2020-12-02 13:39] AvdLee commented on #172
I'm happy to announce a PR is finally open for SPM support!

[2020-12-03 08:47] #172 closed

[2020-12-03 08:48] florentmorin commented on #172
Thank you @AvdLee 👍

[2020-12-03 08:50] wetransferplatform commented on #172
The pull request #279 that closed this issue was merged and released as part of [Release 1.8.0](https://github.com/WeTransfer/WeScan/releases/tag/1.8.0) :rocket:
Please let us know if the functionality works as expected as a reply here. If it does not, please open a new issue. Thanks!<p align="right"><i>Generated by <a href="https://github.com/WeTransfer/GitBuddy">GitBuddy</a></i></p>

[2020-12-07 17:40] justarandomdev opened #282 "iPad and ScannerViewController orientation"
`ScannerViewController` is set to be shown only on portrait mode, which is normal, since otherwise it would have to rotate the camera view port and convert orientation etc.

However, when all orientations are enabled in `Info.plist`, which is required for all apps unless they also require full screen, the `supportedInterfaceOrientations` method/computed property is never called, so it presents thi

[2020-12-17 00:28] #274 closed

[2020-12-17 20:47] NaumanAslam opened #284 "Black edit screen and review screen with another camera framework"
When integrating alongside fingerprint SDK from idemia, the edit and review screen loads black. This happens only when launching the app from iphone and not in debugging mode.

[2020-12-23 00:33] #275 closed

[2020-12-24 00:36] #276 closed

[2020-12-28 10:44] vtamnh14 opened #287 "Zoom Controller Bug When Image Orientation Is Right"
Hi there,
I run the example and add an image that has orientation is right.
When I moving the gesture to see the zoom point.
It's a wrong position.

Thanks,

[2020-12-29 22:49] dashvlas commented on #287
same here

[2020-12-30 00:22] dashvlas commented on #287
@vtamnh14

I've fixed it by forcing orientation set in init of ZoomGestureController

init(image: UIImage, quadView: QuadrilateralView) {
        self.image = image.forceSameOrientation()
        self.quadView = quadView
    }

Here is the helping func:

`extension UIImage {

    func forceSameOrientation() -> UIImage {
        UIGraphicsBeginImageContext(self.size)
        self.draw(in: CGRect(or

[2020-12-30 06:26] vtamnh14 commented on #287
@dashvlas hi Dashvlas,
Thank you for your response.
It's working well.

Regards,

[2020-12-30 06:26] #287 closed

[2021-01-06 00:40] #273 closed

[2021-01-10 00:45] #277 closed

[2021-01-11 23:21] tcurdt opened #288 "README should be more explicit what "batch scanning" is"
From the README it's unclear whether "batch scanning" means scanning multiple pages into a single document - or maybe multiple documents from single scan controller.

[2021-01-12 00:47] #278 closed

[2021-01-17 00:58] #282 closed

[2021-01-19 12:21] ameeee opened #289 "How can I set a specific aspect ratio for the scanner?"
Hi!

Thanks for creating this package. I want to restrict the user to a specific aspect ratio which is 16:9 or 1920x1080 pixels. Where can this be modified? Im not a swift developer but I'm trying to modify an existing code.

Appreciate your help!

Regards,

[2021-01-26 17:36] ErikGro opened #291 "Bug: Preview on iOS 14.3 not displayed"
The live preview does not get displayed on iOS 14.3.

I implemented the basic example from the README in swift.
When I deploy the app to my iPhone 7 (iOS 14.1) the preview works fine and gets displayed.
But on my other test devices ( iPhone 12 (iOS 14.3 / 18C66) and iPhone X (iOS 14.3 / 18C66) ) the preview does not get displayed, instead only a gray background is presented. This bug is very weird

[2021-01-26 20:08] chris-babelbark opened #292 "Undefined symbols for architecture x86_64"
I added WeScan via Swift Package Manager to my project today. This is what I get when I build.

Undefined symbols for architecture x86_64:
  "protocol descriptor for WeScan.ImageScannerControllerDelegate", referenced from:
      protocol conformance descriptor for SubmitInvoice.ImageScannerDelegate : WeScan.ImageScannerControllerDelegate in SubmitInvoice in InvoiceCaptureView.o
ld: symbol(s) not f

[2021-01-26 20:56] chris-babelbark commented on #292
Nevermind, I got it working. I added the package to the wrong target.

[2021-01-26 20:56] #292 closed

[2021-01-28 00:29] #284 closed

[2021-01-28 14:29] #291 closed

[2021-02-11 01:17] tcurdt commented on #288
Ping?

[2021-02-15 11:39] Talha1275 opened #297 "Memory Issue on batch scanning"
Creating an array of controllers for cropping multiple documents at a time causes memory to shoot when delegate method is called and the memory is retained even after the cropped image is received and i have moved to the next screen.

[2021-02-18 17:16] Talha1275 commented on #297
I have found the eason behind memory retention.
func rotated(by rotationAngle: Measurement<UnitAngle>, options: RotationOptions = []) -> UIImage? {}
The above mentioned method retains the memory when called.
If anyone finds the solution kindly comment.

[2021-03-01 00:25] #289 closed

[2021-03-03 06:53] ethanwa opened #298 "Is there a way to hide the "enhanced scan" black/white image button in the bottom left?"
Title says it all. Is there a way to hide that button from my users? I'm specifically referring to this code on ReviewViewController:

Line 29:
[code]
Line 102:
`toolbarItems = [fixedSpace, enhanceButton, flexibleSpace, rotateButton, fixedSpace]`

Also, is this library available for Android? If not, any recommendations of a similar implementation? Definitely don't want to reinvent the wheel if I d

[2021-03-14 20:00] hanu opened #299 "How to remove shadow from document after scanning"
Is there any way to remove the shadow from document after scanning. Can you please help me with this

[2021-03-16 09:59] Chintan-Dave opened #300 "Orientation of croppedScan image and enhancedScan image is different."
When we take an image in landscape mode we get different orientations for `croppedScan.image` and `enhancedScan.image`.  (In didFinishScanningWithResults method ImageScannerControllerDelegate )

`UIImage.imageOrientation` property is same for both that is `UIImageOrientationUp` but `enhancedScan.image` is displayed properly but `croppedScan.image` is displayed rotated.

### Example:

| `croppedSca

[2021-03-17 04:21] mwaqasbhati opened #301 "AutoDetect is taking time comparatively Capturing Photo Manually"
I am trying to detect my vehicle license but auto detect is taking more time than capturing manually. I used apple `VNDocumentCameraViewController ` and it is much faster but it don't provide customization. Can we improve this library algorithm so that it could be faster or atleast same as apple.

[2021-03-22 21:45] ethanwa commented on #216
My customers are seeing this bug as well on all iPad devices. Any way to make this a priority fix?

[2021-03-23 09:24] AvdLee commented on #216
@ethanwa unfortunately, we're not actively developing WeScan at this moment. We're happy to receive any contributions and review accordingly.

[2021-03-25 00:11] #288 closed

[2021-03-26 07:56] osmansoykan commented on #248
Hi UlanNurmatov,
How did you solve this issue?

[2021-03-26 16:15] osmansoykan opened #302 "Getting only cropped image from captureImage"
Hi,
I am using CameraScannerViewController for my custom view. The image in the captureImageSuccess delegate method is the original image. I just want to get a cropped image. How can I do it?
Thanks.

[2021-03-29 18:17] Koalak34 opened #303 "Compatible with react natives ?"
hello is this library compatible with react native if not do you have an alternative ? Thanks

[2021-04-01 00:10] #297 closed

[2021-04-13 00:11] #298 closed

[2021-04-14 09:39] matthiasnagel commented on #23
@Boris-Em the Android repo is archived. Is there any update about the Android version?

[2021-04-14 11:28] jcampbell05 commented on #23
If anyone wants it then maybe look into help building it :)

[2021-04-14 12:37] fpiraneo commented on #23
At the time it seems that the only option is to rely on the "classic and abused" OpenCV version, that produces a very poor results. I don't have the expertise to write down a full kotlin / java version of the scanner nor to port the involved part of OpenCV to native Kotlin / Java. If someone has other options, very glad to know.

[2021-04-19 11:23] jcampbell05 commented on #23
Other options are:
- RenderScript
- Use something like Hailide which can just be compiled down to different targets like OpenCV, CUDA etc

[2021-04-24 00:10] #299 closed

[2021-04-25 14:42] devsandeshnaik opened #305 "No options for customisation"
Hi

I found this library to be very helpful, but there was no customisation available when it comes to UI. Also some data that developer would really like to explore and get hands on. Here the list I thought would be great to have

1. Access to UI elements such as background colour
2. Allowing user to get/set Quadrilaterals and to reset them after editing(moving coordinates)
3. Providing user both

[2021-04-26 00:11] #300 closed

[2021-04-28 00:10] #301 closed

[2021-04-28 11:13] osmansoykan commented on #302
There's sure to be a solution, right?

[2021-05-07 09:49] fpiraneo opened #306 "Batch scanning"
Just a question about the batch scanning: Will this feature be implemented on a near term? Or is just a planned feature but with no deadlines? Thanks.

[2021-05-09 00:32] #303 closed

[2021-05-18 06:30] Anand-iOS commented on #302
//check the results in the delegate method of ImageScannerController
func imageScannerController(_ scanner: ImageScannerController, didFinishScanningWithResults results: ImageScannerResults) {
        // The user successfully scanned an image, which is available in the ImageScannerResults
        // You are responsible for dismissing the ImageScannerController

        scanner.dismiss(animated: tr

[2021-05-18 06:36] Anand-iOS opened #307 "Arabic Localisation not available"
Thank you for this library.
I am using this lib version 1.7.0 for the image scanner but unfortunately in that version, there are no Arabic localization files available.
I am using this lib with help of Cocoapods.
FYR, attached screenshot of available localizable string list after pod install.
<img width="419" alt="Screen Shot 2021-05-18 at 9 35 12 AM" src="https://user-images.githubusercontent.com

[2021-05-18 15:06] willm132 commented on #216
Has anyone had any luck allow landscape orientation when using WeScan?

[2021-05-18 15:31] willm132 commented on #76
Has anyone found a fix to allow this in landscape only, not portrait?

[2021-05-18 15:32] willm132 commented on #282
Has anyone found a fix to allow this in landscape only, not portrait?

[2021-05-18 15:39] willm132 commented on #163
Has anyone been able to fix this yet? My app only works in landscape and the camera pops up in orientation.

[2021-05-25 20:37] willm132 commented on #216
@AvdLee  Would just changing this be able to fix our issues?

[code]

[2021-05-26 06:36] AvdLee commented on #216
I've not tried that out but to me, that would disable landscape completely, wouldn't it?

[2021-05-26 14:31] sharjeel-ayubi-cs commented on #247
Any solution for the issue? @wrlf5

[2021-05-27 19:00] willm132 commented on #216
@AvdLee I am not sure. Is anyone able to take a look at a fix for this?

[2021-05-28 07:49] AvdLee commented on #216
Currently, WeScan is not on our list of priorities. We're open for contributions and aim to review PRs within 1 working day. So feel free to apply a fix 🙂

[2021-06-05 00:17] #305 closed

[2021-06-07 17:28] willm132 opened #308 "Mac Catalyst 14.0"
I am using this in an iOS and MacOS project. However I am not using the Barcode Scanner on Mac, but it will not let me compile. Is there anyway to get around this or silence this issue?

'AVCaptureVideoOrientation' is only available in Mac Catalyst 14.0 or newer

[2021-06-10 10:50] AlexSmet opened #309 "Set custom colors for autoScanButton and flashButton in ScannerViewController"
Hi,
In my application, I'm setting the navigation bar colors via UINavigationBar.appearance() in white color. But unfortunately in ScannerViewController for autoScanButton and flashButton buttons, tinitColor are set with UIColor.white constant and I have no way to change this color.

Could you set tinitColor for these buttons from UINavigationBar.appearance() or give another way to customize color

[2021-06-14 09:59] fpiraneo commented on #306
Any answer will be strongly apreciated.

[2021-06-17 02:53] sclee15 opened #310 "Missing default localization `en?'"
Compiler warns me

WeScan
resource 'Localizable.strings' in target 'WeScan' is missing the default localization 'en'; the default localization is used as a fallback when no other localization matches

[2021-06-17 03:02] #310 closed

[2021-06-21 08:29] sclee15 commented on #196
Korean locale but not showing message with the default en.lproj This issue should be reopened!

[2021-06-24 08:28] eltomato89 commented on #306
Bump!

[2021-06-28 00:06] #307 closed

[2021-06-28 00:06] #302 closed

[2021-07-17 22:53] ethanwa opened #313 "Xcode 13.0 beta 3: 'shared' is unavailable in application extensions for iOS: Use view controller based solutions where appropriate instead."
I know the library is no longer in active development, but I'd hate to see Xcode 13 break it and make it unusable. Anyone have a minute to look at this for a fix?

<img width="1198" alt="Screen Shot 2021-07-17 at 6 52 33 PM" src="https://user-images.githubusercontent.com/1653780/126050997-6a7f1efe-46d7-4ae4-8a7f-0f531b3d7392.png">

The change in Xcode 13 beta 3 release notes:

_Linking Swift packa

[2021-07-18 00:04] #308 closed

[2021-07-22 00:04] #309 closed

[2021-07-25 09:27] eltomato89 commented on #306
Bump

[2021-08-19 05:05] iOSharsh opened #314 "Automatic Capture issue"
Hello,
How can i stop automatic capturing photos.

[2021-08-24 16:35] BasThomas commented on #313
I'll take a look.

[2021-08-25 06:21] BasThomas commented on #313
Hey @ethanwa, when are you observing this issue? Do you have steps to reproduce? Building both the `WeScan` as well as the `WeScanSampleProject` schemes using beta 5 work fine for me.

[2021-09-02 07:29] henryleunghk opened #319 "Allow image picking in image scanning view"
It is common for document scanning library to start with camera scanning and have image picker triggered from that.
Image picking flow is already included in this library but it could not be done within camera scanning view.

Since `CameraScannerViewController` is set to be a final class while `VisionRectangleDetector` and `CIRectangleDetector` are not exposed to implementers as well, I found no w

[2021-09-02 08:35] AvdLee commented on #319
Continuing the discussion from the PR here. I guess what you could do is make the `CameraScannerViewController` flexible enough to allow setting a secondary button to the right. With that, you can add any kind of button 🙂

[2021-09-03 06:17] ChandniPambhar123 commented on #174
@AvdLee  I am also facing same issue with ios 12. Can you please help me to fix?

[2021-09-05 00:05] #306 closed

[2021-09-20 10:16] mehdico commented on #197
@muug6i Same issue. did you find any solution?

[2021-09-30 00:05] #314 closed

[2021-10-01 04:03] Bgihe opened #320 "barTintColor not working in iOS 15"
barTintColor not working in iOS 15
https://developer.apple.com/forums/thread/682420

iOS15:
![](https://imgur.com/MSt3NuC.jpg)

iOS14:
![](https://imgur.com/ajMmR1J.jpg)

ImageScannerController.swift
now:
`public required init() {
    let scannerViewController = ScannerViewController()
    super.init(rootViewController: scannerViewController)
    navigationBar.tintColor = .black
    navigationBar.

[2021-10-05 00:05] #313 closed

[2021-10-28 08:50] FengYilee opened #324 "Is there an Android version?"
Is there an Android version?

[2021-10-28 11:07] alikenski opened #325 "Fix iOS15 navBar background color"
Do you have any plans for fixing this issue?

[2021-11-02 07:55] anagstef commented on #320
Any updates on this?

[2021-11-10 01:01] renhe2020 opened #326 "barTintColor not working in iOS 15"
Do you have any plans for fix this issue?

[2021-11-13 06:04] ronitvasoya commented on #325
Work for me

let scannerViewController = ImageScannerController()
scannerViewController.imageScannerDelegate = self
scannerViewController.modalPresentationStyle = .fullScreen
scannerViewController.navigationBar.backgroundColor = .white // Change Background Color of navigation bar
scannerViewController.useImage(image: img)
present(scannerViewController, animated: true)

[2021-12-09 00:06] #324 closed

[2021-12-10 11:41] AparParmar commented on #320
Here is the solution.
1.]. In ImageScannerController class put the following code:
func navigationBarSetup(barColor: UIColor) {
        if #available(iOS 13.0, *) {
            let standardAppearance = UINavigationBarAppearance()
            standardAppearance.backgroundColor = barColor
            self.navigationBar.standardAppearance = standardAppearance
            self.navigationBar.scrollEdge

[2021-12-10 11:47] AparParmar commented on #325
Check my this answer: https://github.com/WeTransfer/WeScan/issues/320#issuecomment-990900521

[2021-12-10 11:47] AparParmar commented on #326
Check my this answer: https://github.com/WeTransfer/WeScan/issues/320#issuecomment-990900521

[2022-01-16 19:26] cansavrun opened #328 "Review screen transparency issue"
<img width="318" alt="Ekran Resmi 2022-01-16 22 25 33" src="https://user-images.githubusercontent.com/49312193/149674780-c30f1ea2-c1bf-4602-9e63-c6f23b78bf11.png">
How can I solve this issue?

[2022-01-21 00:06] #325 closed

[2022-01-21 00:06] #326 closed

[2022-01-21 00:06] #320 closed

[2022-02-16 08:37] jinliyuelong opened #329 "ios 15 UINavigationBar and UITabBar bug"
ios 15 UINavigationBar and UITabBar appears bugs

[2022-02-25 16:23] SonuChopra commented on #328
Add the line below when opening the scanner
        let scannerViewController = ImageScannerController()
        scannerViewController.view.backgroundColor = .black <----
        scannerViewController.imageScannerDelegate = self
        self.viewController!.present(scannerViewController, animated: true)

[2022-02-25 16:46] sawankumarbundelkhandi opened #330 "iOS zoom lens issue when image is selected from gallery"
Thanks for making this plugin. I am using this in a flutter plugin for the purpose of scanning paper.

When I select an image from the gallery and use the edge points for adjustment, the zoom lens is not working as expected.
I have attached the video below it's from the camera picker which I have fixed in my plugin but the same is happening when an image is picked from the gallery.

https://user-i

[2022-02-27 23:08] cansavrun commented on #328
@SonuChopra  Thank you. It worked for me.

[2022-03-16 18:11] apouche commented on #328
the `view.backgroundColor` was not enough for our project, there were still black `tintColor` for the `ReviewController` navigation items. I ended up doing something like this:

[code]

[2022-03-16 19:31] apouche commented on #329
Probably clone of #328
[code]

[2022-04-10 00:10] #330 closed

[2022-04-20 12:46] kairadiagne opened #332 "Update cocoapods version"
Were using an older version of cocoapods which depends on `cocoapods-downloader` 1.4.0. This version contains a [security vulnerability](https://9to5mac.com/2021/04/21/security-vulnerability-in-cocoapods-dev-tool-could-have-affected-millions-of-ios-apps/). This was fixed with version 1.6.2.

[2022-04-26 00:10] #329 closed

[2022-04-26 00:10] #328 closed

[2022-05-07 20:03] cansavrun opened #334 "Closing swipe left gesture"
Hi, I realized that when I try to crop the image sometimes it is going back because of the swipe left gesture. How can I solve this issue? Thanks in advance.

[2022-05-23 08:24] kairadiagne commented on #332
We've removed support for cocoapods

[2022-06-17 00:10] #334 closed

[2022-07-11 13:58] m-afham opened #335 "ZoomedImage in EditScan VC showing wrong, when try to edit image "provided" from gallery."
I'm using WeScan for Editing Images only.
- Gallery Image: An image captured from iPhone Camera ( Shouldn't be a screenshot or any other image not captured by the camera )
- When cropping using Quadrilateral Rect Corners, the zoomed image appears wrong ( rotated anti-clockwise ).

Platform: iOS 13.0. (Actual Device)
Language: Swift

[2022-07-11 15:13] m-afham commented on #335
[Answer #287](https://github.com/WeTransfer/WeScan/issues/287#issuecomment-752284540) Fixed my issue.

[2022-07-11 15:13] #335 closed

[2022-07-21 08:06] Cyberbeni opened #336 "Use VNSequenceRequestHandler instead of VNImageRequestHandler"
https://developer.apple.com/documentation/vision/vnsequencerequesthandler

[2022-08-31 00:12] #336 closed

[2022-09-01 03:54] chawatvish opened #337 "Should we fix swift lint errors?"
Hi team,

I would like to contribute more feature in my old code but I found something wrong.
First one, Swift lint config location.
![image](https://user-images.githubusercontent.com/6084987/187827998-ed313652-be23-4813-af45-cbfd8f3feefb.png)

Second one, after I ran build I found 58 swift lint errors.
![image](https://user-images.githubusercontent.com/6084987/187828122-b949ee70-ae28-4016-a6c8-3b

[2022-09-04 16:26] JakobStadlhuber commented on #308
I have the same problem.

[2022-09-30 22:56] UlanNurmatov commented on #291
I'm receiving same bug reports from users using iOS 15+, mostly on iPhone X, but also on iPad Air.
I wonder if this workaround will fix the issue.

[2022-10-12 00:18] #337 closed